page-search-for-pharmacy {
    #map{
        height: 100%;
        width: 100%;
 
    }

   #map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
   
    }
    #button-wrapper {
    margin: 0px 10%;
    position: absolute;
    bottom: 10px;
    width: 80%;
    opacity: 0.5;

    }

    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        width:100%;
    }
    
   #exampleFormControlSelect1
   {
        select option[selected]{
            color: rgba(1, 106, 56, 0.27);
        }

   }
  
      .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    .customIcon{
        height:20px; 
        width:20px;
        
    }
    .row{
        margin: 0px;
        padding: 0px;
      }
      .toolbar-title-md {
          padding: 0px;
      }

}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }
