
<ion-header class="{{langDirection}}">


  <ion-navbar hideBackButton>
   
          <ion-title>{{title}}</ion-title>
      
          <ion-buttons  right>
              <!-- <button ion-button (click)="doRefresh('1')">
                  <ion-icon ios="ios-refresh" md="md-refresh" style="margin: 5px 0 5px 0"></ion-icon>
                 
              </button> -->
              <button ion-button>
                  <img src="assets/imgs/dlogo.png" style="width:30px;" >
                 
              </button>
              <button ion-button  (click)="dismiss()">
                  <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                 
              </button>
          </ion-buttons>
     
  </ion-navbar>
  
</ion-header>


<ion-content>

   

  <h2 style="text-align:right"  *ngIf="langDirection == 'rtl' "  >{{serviceTitle}}</h2>
  <h2  *ngIf="langDirection != 'rtl' "  >{{serviceTitle}}</h2>



  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-4 *ngFor="let photo of photos; let id = index" style="text-align:right">

        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
        <img [src]="photo" *ngIf="photo" style="width:90px;height:80px" (click)="fullScreen(id)"/>

    </ion-col>

</ion-row>



<ion-row [hidden]="showLoading" style="text-align: center;">
    <ion-col col-5></ion-col>
    <ion-col col-2> 
      <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
    </ion-col>
    <ion-col col-5></ion-col>
</ion-row>

    <ion-scroll scrollY="true"  [ngStyle]="{'height': scrollHeight }"  >
       <ion-card *ngFor="let item of DoctorsArray"  [ngStyle]="{'opacity': item.offline == true ? '0.5' : '1'}" style="height:95px;" (click)="showseviceProfile(item)" >          
          <ion-row style="width: calc(100% - 5px);margin: 2px;" >
              
              <ion-col col-2  col-sm-2 style="padding-top:5px;text-align: center;" >
                <div style="position:absolute;top:45px;left:calc(50% - 15px);width:10px;height:10px;border-radius: 50%;" [style.background-color]="item.color">  </div>
              <img [src]="item.profile_pic" style="border-radius: 50%;width:50px;height:50px" >
              <p style="font-size:12px;">{{item.moreTxt}}</p>

            </ion-col>
            
            <ion-col  col-7 col-sm-8>
              <ion-item >
                  <!-- overflow-x: hidden; -->
                <h2 style="width:60px;margin-top:0px;font-size: 13px;font-weight: bold;">{{item.name}}</h2>
          
                <h5 [hidden]="hidePrice" style="font-size:12px;font-weight: bold">{{"cost"|translate}} : {{item.servicePrice}}{{"pound"|translate}} </h5>
                <h5 [hidden]="hidePrice" style="font-size:10px;font-weight: bold"  *ngIf="center_id == '478'" > للوضع الواحد </h5> 
                <h5 [hidden]="hidePrice" style="font-size:8px;font-weight: bold"  *ngIf="center_id == '479'" > شرايين أو أورده لأحد الأطراف الأربعه </h5> 

                

                <rating 
                      [(ngModel)]="item.rate" 
                      readOnly="true" 
                      max="5" 
                      emptyStarIconName="star-outline"
                      halfStarIconName="star-half" 
                      starIconName="star" 
                      nullable="false" 
                      ></rating>
                   
              </ion-item>
            </ion-col>
            <!-- fixed class="customItem4" width:30%; padding-left: 25px;padding-top: 15px;-->
            <ion-col col-3 col-sm-2  style="text-align: center;padding-top: 5px;" >
              <ion-checkbox [(ngModel)]="item.checked" (click)="doctorChecked(item ,$event)"  [disabled]="item.offline" ></ion-checkbox>     
              <ion-label style="text-align: center;" *ngIf="item.distanceval != 8888888888888888 ">{{item.distance}}</ion-label>
              <ion-label style="text-align: center;" *ngIf="item.distanceval != 8888888888888888">{{item.timefordelivery2}}</ion-label>

            </ion-col>
          </ion-row>
      </ion-card>
      </ion-scroll>
      
     
 



  <!-- <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-4 *ngFor="let photo of photos; let id = index" style="text-align:right">

          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" style="width:90px;height:80px" (click)="fullScreen(id)"/>
  
      </ion-col>
  
  </ion-row> -->

  


        <ion-fab left bottom>
          <button ion-fab style="background-color:#026938" [disabled]="orderBTn" (click)="sendOrder()">
            <!-- <ion-icon name="add"></ion-icon> -->
            اطلب
          </button>
        </ion-fab>


      
        
    <ion-item no-lines>

    </ion-item>

    <ion-item no-lines>

    </ion-item>  

        <ion-fab center bottom *ngIf="type_id != 5" >
          <button ion-fab style="background-color:#026938"  (click)="presentActionSheet2()">
            <ion-icon name="camera" style="color:#fff;font-size:20px;vertical-align: middle;"></ion-icon>
          </button>
        </ion-fab>

       
</ion-content>
