<ion-header class="{{langDirection}}">

  <ion-navbar hideBackButton>
    
          <ion-title >{{"Doctor Evaluation" | translate}}</ion-title>
     
          <ion-buttons  right>
                <button ion-button>
                    <img src="assets/imgs/dlogo.png" style="width:30px;" >
                   
                </button>
                <button ion-button  (click)="dismiss()">
                        <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                       
                    </button>
            </ion-buttons>
        
  </ion-navbar>
  

</ion-header>




<ion-content padding>
    <!-- <p class="center" style=" border-bottom:2px solid rgb(205, 219, 205);"> -->
      <!-- <img [src]="image"> -->
      <div class="center">
        <img [src]="image" id="profileImg" >  
    
    <ion-label>{{doctorName}}</ion-label> 
    <ion-label>{{rateWord}}</ion-label>
    <rating [(ngModel)]="rate" 
      readOnly="false" 
      max="5" 
      emptyStarIconName="star-outline"
      halfStarIconName="star-half" 
      starIconName="star" 
      nullable="false" 
      (ngModelChange)="onModelChange($event)" 
      ></rating>
    </div>
    <!-- </p> -->

    <!-- padding-right:2px;padding-left:2px; -->
<!-- <p style="text-align:center">مقترحات لتحسين الخدمه </p> -->
<!-- <p style="text-align:center" [hidden]="hideText">ماذا يمكن تحسينه ؟ </p> -->
<p style="text-align:center" [hidden]="hideText"> ما هى ملاحظاتك ؟  </p>
    <ion-row  style="text-align:center;" >
       
       <ion-col  col-6 *ngFor="let item of rateArray"  style="display: table;">
           <!-- <ion-label class="unselected"  (click)="rateClicked($event,item)">{{item.value}}</ion-label> -->
           <p class="unselected"  (click)="rateClicked($event,item)" style="height:45px;display: table-cell;vertical-align: middle; border-radius: 8px;">{{item.value}}</p>
        </ion-col>
       <!-- <ion-col  col-2 (click)="rateClicked($event)"><p style="border:2px solid lightgrey" >text</p></ion-col>
       <ion-col  col-2 (click)="rateClicked($event)"><p style="border:2px solid lightgrey">text</p></ion-col>
       <ion-col  col-2 (click)="rateClicked($event)"><p style="border:2px solid lightgrey">text</p></ion-col>
       <ion-col  col-2 (click)="rateClicked($event)"><p style="border:2px solid lightgrey">text</p></ion-col> -->
     </ion-row>
      
    
     <br>
     <ion-label *ngIf="langDirection == 'rtl'" style="text-align:right">{{note}}</ion-label>
     <ion-label *ngIf="langDirection != 'rtl'" >{{note}}</ion-label>
    

    <div class="form-group">
        <textarea class="form-control" [(ngModel)]="moreReview" rows="5" id="comment" style="background-color: #e8f1ed"></textarea>
      </div>
      
      <ion-item style="text-align:center;" no-lines>
          <button type="button"  [disabled]="ratedisabledbtn" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="rateDoctor()"> {{"ok" | translate}}</button>  
        </ion-item>

  

</ion-content>
