page-follow-order {
    #map{
        width:100%;
        height:50%;;
    }
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        width:70%;
    }
    .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color:#016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    .btn-primary:disabled{
      color: #fff;
        background-color: lightgray !important;
        border-color: lightgray !important
    }
    
    img,h3{
   
        *width:50px;
        display: inline;
        
      }
      ul {
        padding: 0px;
      
        &.rating li {
          padding: 0px 1px !important;
          background: none;
          color: rgb(8, 129, 8);
          
          ion-icon {
            font-size: 20px;
          }
        }
      }


      .customIcon{
        height:20px; 
        width:20px;
        
    }
  
    .row{
      margin: 0px;
      padding: 0px;
    }

    .ion-md-star-half:before{
      transform: scale(-1,1);
    }
    .fab-close-icon {
      
      // top: 5px;
      top:5%;
    }
    

}
.toastRight{
  text-align: right;
}
.toastLeft{
  text-align: left;
}