
<ion-header class="{{langDirection}}">
  <ion-navbar hideBackButton>
   
          <ion-title>{{"editProfile" | translate}}</ion-title>
     
          <ion-buttons  right>
                <button ion-button>
                    <img src="assets/imgs/dlogo.png" style="width:30px;" >
                   
                </button>
                <button ion-button  (click)="dismiss()">
                        <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                       
                    </button>
            </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="patientRegisterForm" [hidden]="first">
        <!-- style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" -->
        <ion-item  [class.invalid]="!patientRegisterForm.controls.firstname.valid && submitAttempt">
            <ion-label><span style="color:red;font-size: 20px;">*</span><img src="assets/icon/user.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
            <ion-input *ngIf="langDirection != 'rtl'" placeholder="First Name"   style="border-radius: 2px;padding: 0px;" formControlName="firstname" [(ngModel)]="firstname"
            type="text" [dir]="langDirection" ></ion-input>
            <ion-input *ngIf="langDirection == 'rtl'"  class="right"  placeholder="الاسم الاول"    style="border-radius: 2px;padding: 0px;" formControlName="firstname" [(ngModel)]="firstname"
            type="text" [dir]="langDirection" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!patientRegisterForm.controls.firstname.valid && submitAttempt" no-lines>
            <p> {{"enterFirstName" | translate}} </p>
        </ion-item>
    
     <!-- <ion-item [class.invalid]="!patientRegisterForm.controls.secondname.valid && submitAttempt">
        <ion-label><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/user.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
        <ion-input *ngIf="langDirection != 'rtl'" placeholder="Second Name"   style="border-radius: 2px;padding: 0px;" formControlName="secondname" [(ngModel)]="secondname"
        type="text" [dir]="langDirection"></ion-input>
        <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="الاسم الثاني"    style="border-radius: 2px;padding: 0px;" formControlName="secondname" [(ngModel)]="secondname"
    type="text" [dir]="langDirection"></ion-input>
    </ion-item>
    <ion-item *ngIf="!patientRegisterForm.controls.secondname.valid && submitAttempt" no-lines>
    <p> {{"enterSecondName" | translate}} </p>
    </ion-item> -->
    
    <!-- <ion-item [class.invalid]="!patientRegisterForm.controls.surname.valid && submitAttempt">
    <ion-label><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/user.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
    <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="الجد أو اللقب"   style="border-radius: 2px;padding: 0px;" formControlName="surname" [(ngModel)]="surname"
    type="text" [dir]="langDirection" ></ion-input>
    <ion-input *ngIf="langDirection != 'rtl'" placeholder="Grandpa or Surname"    style="border-radius: 2px;padding: 0px;" formControlName="surname" [(ngModel)]="surname"
    type="text" [dir]="langDirection" ></ion-input>
    </ion-item>
    <ion-item *ngIf="!patientRegisterForm.controls.surname.valid && submitAttempt" no-lines>
    <p> {{"enterSurnameName" | translate}} </p>
    </ion-item> -->
    
    <!-- <ion-item [class.invalid]="!patientRegisterForm.controls.phone.valid && submitAttempt">
    <ion-label><img src="assets/icon/mob.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
    <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="رقم الهاتف"   style="border-radius: 2px;padding: 0px;" formControlName="phone" [(ngModel)]="phone"
    type="tel"></ion-input>
    <ion-input *ngIf="langDirection != 'rtl'" placeholder="phone"    style="border-radius: 2px;padding: 0px;" formControlName="phone" [(ngModel)]="phone"
    type="tel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!patientRegisterForm.controls.phone.valid && submitAttempt" no-lines>
    
    <p>{{phoneErrMsg}}</p>
    </ion-item> -->

<!-- <ion-item [class.invalid]="!patientRegisterForm.controls.email.valid && submitAttempt">
    <ion-label><img src="assets/icon/mail.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
    <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="البريد الالكتروني"   style="border-radius: 2px;padding: 0px;" formControlName="email" [(ngModel)]="email"
    type="text" [dir]="langDirection"></ion-input>
    <ion-input *ngIf="langDirection != 'rtl'" placeholder="Email"    style="border-radius: 2px;padding: 0px;" formControlName="email" [(ngModel)]="email"
type="text" [dir]="langDirection"></ion-input>
</ion-item> -->

<!-- <p> {{"enterEmail" | translate}} </p> -->
<!-- <p> {{"invalidEmailAddress" | translate}} </p> -->

<!-- <ion-item *ngIf="!patientRegisterForm.controls.email.valid && submitAttempt" no-lines>

<p>{{emailErr}}</p>
</ion-item> -->



    <ion-item>
        <ion-label floating *ngIf="langDirection == 'rtl'" style="transform-origin: right top;"><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"Country" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
        <ion-label floating *ngIf="langDirection != 'rtl'" ><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"Country" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>

        <ion-select [class.invalid]="!patientRegisterForm.controls.country.valid && submitAttempt" formControlName="country" interface="popover"
        [(ngModel)]="country" >
        <ion-option value="{{item.name}}" *ngFor="let item of countries" (ionSelect)='countryChecked()' >{{item.name}}</ion-option>
        <!-- <ion-option value="alex">{{"Alex" | translate}}</ion-option>  -->
        </ion-select>
        </ion-item>
        <ion-item *ngIf="!patientRegisterForm.controls.country.valid && submitAttempt" no-lines>
        <p> {{"selectCountry" | translate}} </p>
        </ion-item>
    
    
    
        <ion-item >
        <ion-label floating *ngIf="langDirection == 'rtl'" style="transform-origin: right top;"><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"City" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
        <ion-label floating *ngIf="langDirection != 'rtl'" ><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"City" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
        <ion-select [class.invalid]="!patientRegisterForm.controls.city.valid && submitAttempt" formControlName="city" interface="popover"
        [(ngModel)]="city">
        <ion-option value="{{item}}" *ngFor="let item of cities">{{item}}</ion-option>
        <!-- <ion-option value="city2">{{"any city" | translate}}</ion-option>  -->
        </ion-select>
        </ion-item>
        <ion-item *ngIf="!patientRegisterForm.controls.city.valid && submitAttempt" no-lines>
        <p> {{"selectCity" | translate}} </p>
        </ion-item>
        
            <br>
            <ion-item [class.invalid]="!patientRegisterForm.controls.address.valid && submitAttempt">
                <ion-label><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
                <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="العنوان (اختياري)"  style="border-radius: 2px;padding: 0px;" formControlName="address" [(ngModel)]="address"
                type="text" [dir]="langDirection"></ion-input>
                <ion-input *ngIf="langDirection != 'rtl'" placeholder="address"    style="border-radius: 2px;padding: 0px;" formControlName="address" [(ngModel)]="address"
                type="text" [dir]="langDirection"></ion-input>
                </ion-item>
                <ion-item *ngIf="!patientRegisterForm.controls.address.valid && submitAttempt" no-lines>
                <p> {{"enterAddress" | translate}} </p>
                </ion-item>
    

                <!-- <ion-item>
                    <ion-label floating *ngIf="langDirection == 'rtl'" style="transform-origin: right top;"><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/calender.png" style="margin: 0 2px;" height="25" width="25">{{"Dateofbirth" | translate}}</ion-label>
                    <ion-label floating *ngIf="langDirection != 'rtl'"><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/calender.png" style="margin: 0 2px;" height="25" width="25">{{"Dateofbirth" | translate}}</ion-label>
                    
                    <ion-datetime  [max]="maxDate" [class.invalid]="!patientRegisterForm.controls.birthdate.valid && submitAttempt" formControlName="birthdate" displayFormat="DD/MM/YYYY"
                            [(ngModel)]="birthdate" cancelText="{{cancelTxt}}" doneText="{{doneTxt}}"></ion-datetime>
                    </ion-item>
                    <ion-item *ngIf="!patientRegisterForm.controls.birthdate.valid && submitAttempt" no-lines>
                    <p> {{"enterDOB" | translate}} </p>
                    </ion-item> -->
                    
                    
                    <ion-item id="btnSignIn" style="text-align:center;" no-lines>

                        <button type="button"   class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black'" (click)="editUser()"> {{"Edit" | translate}}</button>  
                      </ion-item>
                    </form>

</ion-content>
