<ion-header class="{{langDirection}}">

  <ion-navbar hideBackButton>
   
          <ion-title>{{name}}</ion-title>
      
          <ion-buttons  right>
              <button ion-button>
                  <img src="assets/imgs/dlogo.png" style="width:30px;" >
                 
              </button>
              <button ion-button  (click)="dismiss()">
                  <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                 
              </button>
          </ion-buttons>
       
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="center">
        <img [src]="image" id="profileImg" >  
    </div>
    <p class="center" style="color:gray;font-size: 16px;padding-top:0px;margin-bottom:0px;">{{name}}</p>
    <p class="center" style="color:gray;font-size: 16px;padding-top:0px;margin-bottom:0px;">{{specialization}}</p>
    <div class="center" style="border-bottom: 2px solid #e8f1ed;">
    <rating 
    [(ngModel)]="rate" 
    readOnly="true" 
    max="5" 
    emptyStarIconName="star-outline"
    halfStarIconName="star-half" 
    starIconName="star" 
    nullable="false" 
    ></rating>
  </div>


  <!-- <ion-item no-lines >
   
    <ion-label > 
      <img src="assets/icon/member.png" class="customIcon"> 
    <p style="color:gray;display: inline;">{{bio}}</p>
    
  </ion-label>
</ion-item> -->
<!-- <div >
<img src="assets/icon/member.png" class="customIcon"> 
    <p style="color:gray;font-size: 16px;display: inline;" dir="rtl">{{bio}}</p>
</div> -->

<div style="text-align: right;padding-right: 8px;padding-top:10px">
<img src="assets/icon/member.png" class="customIcon"> 
<p style="color:gray;display: inline;"> {{bio}} </p>
</div>

<div style="text-align: right;padding-right: 8px;padding-top:10px">
  <img src="assets/icon/location.png" class="customIcon"> 
  <p style="color:gray;display: inline;"> {{location}} </p>
  </div>

<!-- <ion-item no-lines>
        <ion-label > 
                <img src="assets/icon/location.png" class="customIcon"> 
              <p style="color:gray;font-size: 16px;display: inline;">{{location}}</p>
              
            </ion-label>

    
  </ion-item> -->


  <ion-item no-lines >
      <!-- <ion-label  *ngIf="langDirection == 'rtl'" class="right" > 
          <img src="assets/icon/servicegreen.png" class="customIcon"> 
        <p style="color:gray;font-size: 16px;display: inline;">{{"ProvidedServices" | translate}}</p>
        
      </ion-label>

      <ion-label  *ngIf="langDirection != 'rtl'" >
        
        <p style="color:gray;font-size: 16px;display: inline;">{{"ProvidedServices" | translate}}</p> 
        <img src="assets/icon/servicegreen.png" class="customIcon" > 
      </ion-label> -->
      <ion-label > 
        <img src="assets/icon/servicegreen.png" class="customIcon"> 
      <p style="color:gray;font-size: 16px;display: inline;">{{"ProvidedServices" | translate}}</p>
      
    </ion-label>
  </ion-item>


  <ion-label  *ngFor="let item of services" class="services" style="color:gray;font-size: 16px;" >
      <p *ngIf="langDirection != 'rtl'">{{item.value}}</p>
  </ion-label>

  <ion-label *ngFor="let item of services" class="services right" style="color:gray;font-size: 16px;" >
      <p  *ngIf="langDirection == 'rtl'" style="margin-right:30px;font-size:14px">{{item.value}}</p>
  </ion-label>
  
  <ion-item style="text-align:center;" no-lines>

    <button *ngIf="offline == '1'" disabled type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
    <button *ngIf="offline == '0'" type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
  </ion-item>


  <ion-item style="text-align:center;" no-lines>

    <button  type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="viewRates()"> مشاهدة التقييم</button>  
      
  </ion-item>

  
</ion-content>
