<ion-header class="{{langDirection}}">    
  <ion-navbar hideBackButton>
        
              <ion-title >{{"serviceRate" | translate}}</ion-title>
          
              <ion-buttons  right>
                    <button ion-button>
                        <img src="assets/imgs/dlogo.png" style="width:30px;" >
                       
                    </button>
                    <button ion-button  (click)="dismiss()">
                            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                           
                        </button>
                </ion-buttons>
            
      </ion-navbar>
    </ion-header>
    
    
    <ion-content padding>

          <div class="center">
            <img [src]="image" id="profileImg" >  
        
        <ion-label>{{doctorName}}</ion-label> 
        <ion-label>{{rateWord}}</ion-label>
        <rating [(ngModel)]="rate" 
          readOnly="false" 
          max="5" 
          emptyStarIconName="star-outline"
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          (ngModelChange)="onModelChange($event)" 
          ></rating>
        </div>

    

    <!-- <p style="text-align:center">مقترحات لتحسين الخدمه </p> -->
    <p style="text-align:center" [hidden]="hideText" >ماهي ملاحظاتك ؟ </p>
    
        <ion-row  style="text-align:center;" >
           
           <ion-col  col-6 *ngFor="let item of rateArray"  style="display: table;">

               <p class="unselected"  (click)="rateClicked($event,item)" style="height:45px;display: table-cell;vertical-align: middle; border-radius: 8px;">{{item.value}}</p>
            </ion-col>

         </ion-row>
          
        
         <br>
         <ion-label *ngIf="langDirection == 'rtl'" style="text-align:right">{{note}}</ion-label>
         <ion-label *ngIf="langDirection != 'rtl'" >{{note}}</ion-label>
        
    
        <div class="form-group">
            <textarea class="form-control" [(ngModel)]="moreReview" rows="5" id="comment" style="background-color: #e8f1ed"></textarea>
          </div>
          
          <ion-item style="text-align:center;" no-lines>
              <button  [disabled]="ratedisabledbtn"  type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="rateDoctor()"> {{"ok" | translate}}</button>  
            </ion-item>
    
      
    
    </ion-content>
    