
<ion-header class="{{langDirection}}">

  <ion-navbar>
    
    <!-- id="xxx" -->
    <ion-title  >{{"activationCode" | translate}}</ion-title>
   
<!-- 
    <ion-buttons  right>
             
      <button ion-button>
          <img src="assets/imgs/dlogo.png" style="width:30px;" >
         
      </button>
      </ion-buttons> -->

  </ion-navbar>

</ion-header>

<!-- <ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1 style="text-align:right">
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-8>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;padding-right:5px;">{{"activationCode" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'" style="padding:5px;">{{"activationCode" | translate}}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <img src="assets/imgs/dlogo.png" style="width:50px;height:30px">
      </ion-col>
    </ion-row>
    
  </ion-navbar>
  
</ion-header> -->

<ion-content padding>
    <!-- <div style="width:100%;text-align: center;">
        <img src="assets/imgs/dlogo.png" style="text-align: center;margin-top: 20px;margin-top: 50px;
        width: 120px;">
        </div>
        <h3 style="color:gray;font-size: 1.9rem;text-align: center;margin-top: 30px;">سوف تصلك رساله تحتوي علي كود التفعيل في خلال ثواني</h3>
        <ion-input  text-right type="text" placeholder="ادخل الكود" style="margin-top: 30px"></ion-input>
        <h6 style="color:rgba(128, 128, 128, 0.84);;margin-top: 1rem;    text-align: right;font-size: 1.3rem;">اعاده ارسال كود التفعيل ؟</h6>
        <button ion-button style="color:white;background-color: #016a38;width:100%">تسجيل الدخول</button>
         -->
         <div class="text-center">
            <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="margin-top: 80px;">
        </div>
        <br>
        <br>
        
            <div class="text-center">
                <small id="passwordHelpBlock " class="form-text text-muted " style="color: #8d8d8d !important;
                font-size: 18px;font-family: 'Cairo SemiBold'">
        {{"activationCodeTxt" | translate}}      
          </small>
                </div>
                <br>
                <form [formGroup]="activationForm" style="background-color: white;width: 100%">
                <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!activationForm.controls.code.valid && submitAttempt">
              <ion-label style="margin: 0"><img src="assets/icon/mark.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
              <ion-input  class="right" *ngIf="langDirection == 'rtl'" placeholder="ادخل الكود"   [dir]="langDirection" style="border-radius: 2px;padding: 0px;" formControlName="code" [(ngModel)]="code"
              type="text" [dir]="langDirection" (input)="changeTxt()" ></ion-input>
              <ion-input *ngIf="langDirection != 'rtl'" placeholder="Enter code"  [dir]="langDirection"  style="border-radius: 2px;padding: 0px;" formControlName="code" [(ngModel)]="code"
          type="text" [dir]="langDirection" (input)="changeTxt()" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!activationForm.controls.code.valid && submitAttempt" no-lines>
          <!-- <p> {{"enterCode" | translate}} </p> -->
          <p> {{codeErrMsg }}</p>
          </ion-item>
          <small *ngIf="langDirection != 'rtl'"  (click)="resendActivationCode()" id="passwordHelpBlock " style="font-family: 'Cairo';font-size:16px" class="form-text text-muted">
         {{"resendCode" | translate}}            
          </small>
          <small  *ngIf="langDirection == 'rtl'"  (click)="resendActivationCode()" id="passwordHelpBlock " style="font-family: 'Cairo';font-size:16px;text-align:right" class="form-text text-muted">
              {{"resendCode" | translate}}            
               </small>

         
         
          <br>
          <br>
        <div class="form-group">
            <button type="button" (click)="login()" class="btn btn-primary btn-lg btn-block">  {{"Login" | translate}}</button>  
          </div>
        </form>

</ion-content>
