<!--
  Generated template for the NursingStayAndWoundCarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-header class="{{langDirection}}">
  <ion-navbar hideBackButton>
    
            <ion-title >{{pageTitle}}</ion-title>
    
        <ion-buttons  right>
          <button ion-button>
            <img src="assets/imgs/dlogo.png" style="width:30px;" >         
          </button>
          <button ion-button  (click)="dismiss()">
              <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  

<ion-content padding>

  <div *ngIf="Service_id == 1" >

    <!-- nursingStay -->
<ion-row>
  <ion-col>
    <ion-label style="color: #6f6f6f;margin-top: 0px;
    margin-bottom: 0px;">عدد الساعات فى اليوم</ion-label>
  </ion-col>
  <ion-col>       
      <ion-input  (input)="noOfHoursPerDayonInput()" style="border-radius: 2px;border: 1px solid lightgray;background-color:#b2d2c3; width: 40%;" 
    [(ngModel)]="noOfHoursPerDay" type="tel"></ion-input>
  </ion-col>
  
</ion-row>


<ion-row>
  <ion-col>
    <ion-label style="color: #6f6f6f;margin-top: 0px;
    margin-bottom: 0px;">عدد الأيام فى الشهر </ion-label>
  </ion-col>
  <ion-col>       
      <ion-input (input)="noOfDaysPerMonthonInput()" style="border-radius: 2px;border: 1px solid lightgray;background-color:#b2d2c3; width: 40%;" 
    [(ngModel)]="noOfDaysPerMonth" type="tel"></ion-input>
  </ion-col>
  
</ion-row>

<ion-list radio-group [(ngModel)]="nursingStayperiod" style="margin-bottom: 0px;">



  <ion-item no-lines style="direction: ltr;">
    
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;">صباحا</ion-label>
    <ion-radio value="1" style="margin-right: 0px !important;"></ion-radio>
    
  </ion-item>

  <ion-item no-lines style="direction: ltr;">
    
    <ion-radio value="2" style="margin-right: 0px !important;" ></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;" >مساءا</ion-label>
  </ion-item>
  <ion-item no-lines style="direction: ltr;" >
    
    <ion-radio value="3" style="margin-right: 0px !important;" ></ion-radio>
    <ion-label style="color: gray; direction: rtl;margin-top: 0px;
    margin-bottom: 0px;">طوال اليوم</ion-label>
  </ion-item>

  </ion-list>




<ion-list radio-group [(ngModel)]="nursestayGender">

  <ion-list-header no-lines style="color: #6f6f6f;margin-top: 0px;
  margin-bottom: 0px;">
    مطلوب أخصائى تمريض
  </ion-list-header>

  <ion-item no-lines style="direction: ltr;" >
    
    <ion-radio value="0" style="margin-right: 0px !important;"></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;">ذكر</ion-label>
  </ion-item>

  <ion-item no-lines style="direction: ltr;" >
    
    <ion-radio value="1" style="margin-right: 0px !important;" ></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;">أنثى</ion-label>
  </ion-item>
  <ion-item no-lines style="direction: ltr;">
    
    <ion-radio value="2" style="margin-right: 0px !important;"></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;">أيهما</ion-label>
  </ion-item>

</ion-list>



<div style="background-color: #e6f2ec; padding: 2px;text-align: center;margin-left: -16px;
margin-right: -16px;">
<ion-label> التكلفة : {{ estimatedPriceForNursingStay }} جنيه مصرى </ion-label>  
</div>


<button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:20px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
      

      

  </div>
  <div *ngIf="Service_id == 2 || Service_id == 3">

 <!-- wound care -->

 <ion-row>
  <ion-col>
    <ion-label style="color: #6f6f6f;margin-top: 0px;
    margin-bottom: 0px;">عدد المرات فى اليوم</ion-label>
  </ion-col>
  <ion-col>       
      <ion-input  (input)="noOfTimesPerDayonInput()"  style="border-radius: 2px;border: 1px solid lightgray;background-color:#b2d2c3; width: 40%;" 
    [(ngModel)]="noOfTimesPerDay" type="tel"></ion-input>
  </ion-col>
  
</ion-row>


<ion-row>
  <ion-col>
    <ion-label style="color: #6f6f6f;margin-top: 0px;
    margin-bottom: 0px;">عدد الأيام فى الأسبوع  </ion-label>
  </ion-col>
  <ion-col>       
      <ion-input  (input)="noOfDaysPerWeekonInput()"  style="border-radius: 2px;border: 1px solid lightgray;background-color:#b2d2c3; width: 40%;" 
    [(ngModel)]="noOfDaysPerWeek" type="tel"></ion-input>
  </ion-col>
  
</ion-row>



<ion-list radio-group [(ngModel)]="woundCareGender">

  <ion-list-header no-lines style="color: #6f6f6f;margin-top: 0px;
  margin-bottom: 0px;">
    مطلوب أخصائى تمريض
  </ion-list-header>

  <ion-item no-lines style="direction: ltr;" >
    
    <ion-radio value="0" style="margin-right: 0px !important;" ></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;" >ذكر</ion-label>
  </ion-item>

  <ion-item no-lines style="direction: ltr;" >
    
    <ion-radio value="1" style="margin-right: 0px !important;" ></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;" >أنثى</ion-label>
  </ion-item>
  <ion-item no-lines style="direction: ltr;" >
    
    <ion-radio value="2" style="margin-right: 0px !important;"></ion-radio>
    <ion-label style="color: gray;direction: rtl;margin-top: 0px;
    margin-bottom: 0px;">أيهما</ion-label>
  </ion-item>

</ion-list>



<div style="background-color: #e6f2ec; padding: 2px;text-align: center;margin-left: -16px;
margin-right: -16px;">
<ion-label> التكلفة : {{ priceForWoundCare }} جنيه مصرى </ion-label>  
</div>


<button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:20px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
      



  </div>


  <ion-fab left bottom>
    <button ion-fab style="background-color:#026938;font-family: 'Cairo Black';font-size:9px;width: 65px;
    height: 65px;" (click)="customerService()">
     <!-- خدمة عملاء -->
  
     <span style="height: 61px;
     font-size: 12px;
     position: absolute;
     right: 10px;
     top: -1px;    left: 10px;">خدمة</span>
  
  <span style="text-align: center;
  
  height: 30px;
  justify-content: center;
  font-size: 12px;">عملاء</span>
  
        </button>
  
        </ion-fab>
  

        

</ion-content>
