page-follow-order-for-plc {
    ion-input.right {
        text-align: right;
 
        ::placeholder {
         
          text-align: right;
        }
      }
    
    .input-cover {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px lightgrey !important;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }

    .form-control
    {
        font-family: "FontAwesome";
        border-top: 0px;
        border-left: 0px;
        border-bottom: 1px solid #b2b3b354;
        border-right: 1px solid #b2b3b354;
        box-shadow: 1px 1px 1px 2px rgba(169, 167, 167, 0.17);
 

}
p {
    font-size: 0.8em;
   // color: red !important;
}


.invalid {
    border: 1px solid #ea6153;
}

.form-control:focus
{
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #b2b3b354;
    border-right: 1px solid #b2b3b354;
    box-shadow: 1px 1px 1px 2px rgba(1, 106, 56, 0.17);
}
.form-check-input {
    
     margin-left: 1rem;
     position: inherit;
}
.form-control::-webkit-input-placeholder {
     color: rgba(1, 106, 56, 0.27);
    size: 7px;
    font-family: "FontAwesome";
}
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        direction: ltr;
        text-align: right;
        font-weight: 500;
        color: #424242;
    }
    .text-muted {
        color: #9a9b9c !important;
    }
    // img {
    //     max-width: 40%;
    //     border: 0;
    // }
    #imageLogo{
        max-width: 40%;
        border: 0;
    }
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        // width:70%;
    }
    
   #exampleFormControlSelect1
   {
select option[selected]{
    color: rgba(1, 106, 56, 0.27);
}

   }
  
      .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    .btn:disabled {
        background-color: #dddddd !important ;
        border-color: #dddddd  !important;
    }
    .row{
        margin: 0px;
        padding: 0px;
    }
    .deleteIcon {
        position: absolute !important;
        color: #016a38 !important;
        margin-left: 80% !important;
      }
      .deleteIcon:before {
        font-size: 25px !important;
      }
      .label-md {
          margin: 2px;
      }
      .btn-primaryx {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        
    }
    .btn-primaryx:focus {
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        border-color: #016a38;
        color: #fff;
    }
      .btn-primaryx:hover {
        color: #fff;
        background-color: rgba(1, 106, 56, 0.2313725);
        border-color: #016a38;
    }
      .btn-primaryx:not(:disabled):not(.disabled):active{
        color: #fff;
        // background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    #profileImg{
        border:1px rgb(240, 234, 234) solid;
        border-radius: 50%;
        height:100px;
        width: 100px; 
       
    }

    .center{
        text-align: center;
    }
    .ion-md-star-half:before{
        transform: scale(-1,1);
      }
     
      .customIcon{
        height:20px; 
        width:20px;
        
    }
    
    .fab-close-icon {
      
        // top: 5px;
        top:5%;
      }
         
}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }
