<ion-header class="{{langDirection}}">
  <ion-navbar hideBackButton>
   
          <ion-title >{{"followOrder" | translate}}</ion-title>
      
          <ion-buttons  right>
              <button ion-button>
                  <img src="assets/imgs/dlogo.png" style="width:30px;" >
                 
              </button>
              <button ion-button  (click)="dismiss()">
                    <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                   
                </button>
          </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- {{serviceName}} -->

    <div class="center">
            <img [src]="plcimage" id="profileImg" >  
        
        <ion-label>{{doctorName}}</ion-label> 
        <!-- <ion-label>{{rateWord}}</ion-label> -->
        <!-- <rating [(ngModel)]="rate" 
          readOnly="false" 
          max="5" 
          emptyStarIconName="star-outline"
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          (ngModelChange)="onModelChange($event)" 
          ></rating> -->
        </div>

  <!-- <h5  *ngIf="langDirection == 'rtl'" style="text-align: right;color:grey;margin-top:15px;"> {{doctorName}} </h5>
  <h5 style="color:grey;" *ngIf="langDirection != 'rtl'" >{{serviceName}} {{doctorName}} </h5> -->

  <h5  *ngIf="langDirection == 'rtl'" [dir]="langDirection" style="text-align: right;color:grey;">
    {{serviceTxt}} {{duration}} {{completeServiceTxt}} 
    <span style="color:#026938">{{hint}}</span>
  </h5>
 
  <!-- <ion-item class="form-group" no-lines>
      <button type="button" (click)="presentActionSheet()" class="btn btn-primaryx btn-lg btn-block" style="color:rgba(27, 26, 26, 0.270588);background-color: rgba(1, 106, 56, 0.2313725) ; border-color: rgba(1, 106, 56, 0.2313725);margin:10px auto;" >  <img src="assets/icon/cam.png" height="25" width="25">   {{medicalprescriptionImage}} <ion-icon name="checkmark-circle" style="color: darkgreen;vertical-align: middle;" *ngIf="imageAdded" ></ion-icon> </button> 
      
    </ion-item> -->
    <!-- <ion-item class="form-group" no-lines>
        <button type="button" (click)="presentActionSheet()" class="btn btn-primaryx btn-lg btn-block" style="color:#fff;background-color: #016a38 ; border-color: #016a38;margin:10px auto;" > 
            
            <ion-icon name="camera" style="color:#fff;font-size:20px;vertical-align: middle;"></ion-icon>
              {{medicalprescriptionImage}}      
        </button> 
            
    </ion-item> -->

    <p [hidden]="hideCont" style="color:#016a38;text-align:right;font-size:16px">  الموعد المحدد :<span style="color:grey;"> {{contDate}}</span></p>
    <p [hidden]="hidenote" style="color:#016a38;text-align:right;font-size:16px">  الملاحظات :<span style="color:grey;"> {{contNotes}}</span></p>

    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-4 *ngFor="let photo of photos; let id = index" style="text-align:right">

            <!-- <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon> -->
            <img [src]="photo" *ngIf="photo" style="width:90px;height:80px" (click)="fullScreen(id)" />
    
        </ion-col>
    
    </ion-row>
    
  <!-- <ion-row>
      <ion-col col-6 col-sm-4 col-md-4>
        <ion-item no-lines (click)="presentActionSheet()">{{medicalprescriptionImage}}
            
        </ion-item>
        

      </ion-col>
      
    <ion-col col-3 *ngFor="let photo of photos; let id = index" style="text-align:right">

        <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
        <img [src]="photo" *ngIf="photo" style="width:80px;height:80px" />

    </ion-col>
  </ion-row> -->



    <ion-fab left bottom>
            <button ion-fab style="background-color:#026938;font-family: 'Cairo Black';">
            <!-- {{callService}} -->
            اتصال
            </button>
            <ion-fab-list side="right">        
                <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone}}" >
                    <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
           
                    <a button ion-fab  href="tel:+{{phone}}" >
                        <ion-icon   style="color:#026938;" name="call"></ion-icon></a>
                </ion-fab-list>
          </ion-fab>
          
        
            
       
            <ion-item style="text-align:center;" no-lines>
                <button type="button" [disabled]="!disableCancelBtn"  class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="serviceRate()"> تم تنفيذ الخدمه</button>  
              </ion-item>

              
  <ion-item style="text-align:center;" no-lines>
  <button type="button"  [disabled]="disableCancelBtn"  class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="cancelOrder()"> {{"cancelOrder" | translate}}</button>  
</ion-item>
  
<ion-item class="form-group" no-lines>
        <button  [disabled]="disabled2btn" type="button" (click)="presentActionSheet()" class="btn btn-primaryx btn-lg btn-block" style="font-family: 'Cairo Black';color:#fff;background-color: #016a38 ; border-color: #016a38;margin:10px auto;" > 
            
            <ion-icon name="camera" style="color:#fff;font-size:20px;vertical-align: middle;"></ion-icon>
              {{medicalprescriptionImage}}      
        </button> 
            
    </ion-item>

    <!-- <ion-item style="text-align:center;" no-lines>
            <button type="button" [disabled]="disabled2btn"  class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendprescriptionImages()"> {{sendprescription}}</button>  
          </ion-item>  -->

<ion-item no-lines>

</ion-item>
<!-- [disabled]="UpdateorderBTn" -->

</ion-content>

