page-profile {
    .row{
        margin: 0px;
        padding: 0px;
    }
    .label-md{
        margin: 0px;
    }
    .customItem4{
        -webkit-flex: 0 0 40px;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px !important;
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
        position: relative;
        top:-20px;
        left:calc(100% - 600px);
        

    
      }
    #profileImg{
        border:1px rgb(240, 234, 234) solid;
        border-radius: 50%;
        height:140px;
        width: 140px; 
        margin-top:15px;
       
    }
    .customIcon{
        height:20px; 
        width:20px;
        
    }
    .right{
        text-align: right;
    }
    .camedit{
        *border:1px solid green;
        border-radius: 50% !important; 
        padding: 5px;
        background-color: white; 
        width: 30px; 
        height: 30px; 
        color: #026938;
        border: 2px solid;
    }
    .center{
        text-align: center;
    }
    .custompositionright{
        width:40px;
        position: relative;
        top:-20px;
        right:calc(50% - 50px);
    }
    .custompositionleft{
        width:40px;
        position: relative;
        top:-20px;
        left:calc(50% + 10px);
    }
    .position{
        position: absolute;
        top:10px;
        
        
    }

    .iconPosition {
        position: fixed;
        right: 60px;
     
    }

    // p{
    //     color:$myvar;
    // }

    ul {
        padding: 0px;
        // margin-top: 5px;
        margin-bottom: 0px;
        &.rating li {
          padding: 0px 1px !important;
          background: none;
          color: rgb(8, 129, 8);
          
          ion-icon {
            font-size: 20px;
          }
        }
      }
      .ion-md-star-half:before{
        transform: scale(-1,1);
      }

}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }
