
<ion-header class="{{langDirection}}">
  <ion-navbar>
      <ion-buttons style="display: inherit;" left>
          <button ion-button menuToggle>
              <ion-icon style="color:#016a38" name="more"></ion-icon>
            </button> 
     </ion-buttons>
          <ion-title  style="padding:5px;">{{"Profile" | translate}}</ion-title>
     
          <ion-buttons style="display: inherit;" right>
              <button ion-button icon-only  menuToggle><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
          </ion-buttons>
  </ion-navbar>
  
</ion-header>
<ion-content>

  <div> 
    <div class="center">
      <img [src]="image" id="profileImg" >
      
    </div>
    

    <!--<ion-row style="border:2px solid red;margin-right: 0px;margin-left: 0px;">

       <ion-col fixed class="customItem4"  style="border:2px solid green">
        <ion-icon (click)="presentActionSheet()" name="md-camera" class="camedit" ></ion-icon>
      </ion-col>

    </ion-row> -->
    <div  *ngIf="langDirection == 'rtl'" class="custompositionright" style="text-align: center;"> 
    
      <ion-icon (click)="presentActionSheet()" name="md-camera" class="camedit" ></ion-icon>
      <!-- <ion-icon (click)="getPhoto()" name="md-camera" class="camedit" ></ion-icon> -->
  
      <!-- <img src="assets/icon/cam.png" class="customIcon camedit" (click)="getPhoto()" > -->
    </div> 

    <div *ngIf="langDirection != 'rtl'" class="custompositionleft" style="text-align: center;"> 
    
      <ion-icon (click)="presentActionSheet()" name="md-camera" class="camedit" ></ion-icon>
      <!-- <ion-icon (click)="getPhoto()" name="md-camera" class="camedit" ></ion-icon> -->
  
      <!-- <img src="assets/icon/cam.png" class="customIcon camedit" (click)="getPhoto()" > -->
    </div> 

  </div>
  
  <p class="center" style="color:gray;font-size: 16px">{{name}}</p>
    
  <rating  class="center"
  [(ngModel)]="myRate" 
  readOnly="true" 
  max="5" 
  emptyStarIconName="star-outline"
  halfStarIconName="star-half" 
  starIconName="star" 
  nullable="false" 
  ></rating>

<div >

  <div style="width:100%;top:190px;z-index:1;text-align: left">
    <ion-label *ngIf="langDirection == 'rtl'" style="padding-left:10px;" ><img src="assets/icon/edit.png" class="customIcon camedit" (click)="editProfile()" style="text-align: right;"></ion-label>
    <ion-label *ngIf="langDirection != 'rtl'" class="right" style="padding-left:10px;padding-right:10px;" ><img src="assets/icon/edit.png" class="customIcon camedit" (click)="editProfile()" ></ion-label>
  </div>
  
  <ion-item no-lines >
    <!-- <ion-label *ngIf="langDirection != 'rtl'" class="right" > {{phone}} <img src="assets/icon/phonegreen.png" class="customIcon">  </ion-label>
    <ion-label *ngIf="langDirection == 'rtl'" ><img src="assets/icon/phonegreen.png" class="customIcon">  {{phone}}  </ion-label>
   -->
   <ion-label  ><img src="assets/icon/phonegreen.png" class="customIcon">  {{phone}}  </ion-label>
  </ion-item>

  <ion-item no-lines [hidden]="NODob">
    <!-- <ion-label *ngIf="langDirection != 'rtl'" class="right" > {{dob}} <img src="assets/icon/calendergreen.png" class="customIcon">  </ion-label>
    <ion-label *ngIf="langDirection == 'rtl'" ><img src="assets/icon/calendergreen.png" class="customIcon"> {{dob}} </ion-label> -->
    <ion-label ><img src="assets/icon/calendergreen.png" class="customIcon"> {{dob}} </ion-label>
  </ion-item>
  
   <!-- <ion-label  *ngIf="langDirection != 'rtl'" class="right" > {{address}}  <img src="assets/icon/location.png" class="customIcon"> </ion-label>
    <ion-label  *ngIf="langDirection == 'rtl'" ><img src="assets/icon/location.png" class="customIcon"> {{address}} </ion-label> -->

  <!-- <ion-item no-lines>
       <ion-label ><img src="assets/icon/location.png" class="customIcon"> {{address}} </ion-label>
  </ion-item> -->
  
  
  <div style="text-align: right;padding-right: 8px;padding-top:10px" [hidden]="NOAddress">
    <img src="assets/icon/location.png" class="customIcon"> 
    <p style="color:gray;display: inline;"> {{address}} </p>
    </div>


   <ion-item no-lines>
    <ion-label *ngIf="langDirection != 'rtl'" style="color:gray;" (click)="changePassword()" >Do you want to change password?</ion-label>
    <ion-label *ngIf="langDirection == 'rtl'" class="right" style="color:rgb(215, 219, 201)" (click)="changePassword()" >هل تريد تغير كلمه المرور ؟</ion-label>
  </ion-item>

  <ion-item no-lines>
      <ion-label *ngIf="langDirection != 'rtl'" style="color:gray;" (click)="changePhone()" >Do you want to change phone number?</ion-label>
      <ion-label *ngIf="langDirection == 'rtl'" class="right" style="color:rgb(215, 219, 201)" (click)="changePhone()" >هل تريد تغير رقم الهاتف ؟</ion-label>
    </ion-item>

</div>



</ion-content>
