page-home {
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
    
    .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }

    .divStyle{
        border:2px solid rgb(236, 236, 236);
        text-align:center;
        // padding-top:10px;padding-bottom:10px;
        padding-top: 7px;
    padding-bottom: 5px;

      }
      .labelStyle{
        //   margin-top: 10px;
        margin-top: 5px;
        text-align:center;
        color:grey;
        font-size:14px;
        margin-bottom: 5px;
        font-weight: bold;
        
      }
      .x{
        box-shadow: 0 0 15px lightgray;        
    }
  
    .x:hover{
        
        box-shadow: 0 0 15px lightgray inset;
        
    }
    .customIcon{
        width: 20px;
        height: 20px;
    }
    .customIconForLogo{
        // width: 130px;
        // width: 115px;
        //height: 110px;
        // width: 90px;
        width: 80px;
        height: 80px;
        
    }
    // .toolbar-title-md{
    //     padding: 0px;
    // }
    .row{
        margin:0px;
        padding: 0px;
    }

    .select-icon {
        visibility: hidden;
        
        //background-image: url('assets/icon/arrow.png') !important;
      } 

      .selector {
        *font-family: SFNSDisplay;
        *font-size: 12px;
        *line-height: 1.2;
        *letter-spacing: 0.1px;
        *color: #29235e;
        width: 80% !important;
        max-width: 80% !important;
        *justify-content: center;
        *border: solid 2px #e8ebf0;
        *background-color: #ffffff;
        *text-align: center;
        font-size: 12px;
      }
      

    // .item-md h4,.item-md h3, .item-md h2{
    //     line-height: 1;
    //   }

    // img{
    //    width:100px;
    //    height: 100px;    
    // }
    
    // ion-col{

    //     border-radius: 50%;
    //     border:1px rgb(240, 234, 234) solid;
    //     box-shadow: 0 0 10px rgb(211, 208, 208);
    // }
    // ion-col:hover{
       
    //     box-shadow: 0 0 10px rgb(211, 208, 208) inset;
    
    // }
    // .customColWidth{
    //     -webkit-flex: 0 0 150px;
    //     -ms-flex: 0 0 150px;
    //     flex: 0 0 150px !important;
    //     width: 150px !important;
    //     height: 150px !important;
    //     min-width: 150px !important;
    //     max-width: 150px !important;
    // }

    // img{
    //     border:1px rgb(240, 234, 234) solid;
    //     border-radius: 50%;
    //     margin:5px;
    //     box-shadow: 0 0 10px rgb(211, 208, 208);
            



    // }



    /*
    .x{
        width:160px;
        height: 160px;
        margin: 10px auto;
        border-radius: 50%;
        
        box-shadow: 0 0 15px lightgray;
            
    }
  
    .x:hover{
        
        box-shadow: 0 0 15px lightgray inset;
        
    }
    .center{
        text-align: center;
    }
    */
   

// @media screen and (min-width:320px) and (max-width:360px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;    width: 150px;
//        height: 150px;
//        margin-left: 29%;
//     }

// }
// @media screen and (min-width:361px) and (max-width:400px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 29%;
//     }

// }
// @media screen and (min-width:401px) and (max-width:420px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 29%;
//     }

// }
// @media screen and (min-width:421px) and (max-width:500px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 31%;
//     }

// }
// @media screen and (min-width:501px) and (max-width:580px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 34%;
//     }

// }
// @media screen and (min-width:581px) and (max-width:620px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 35%;
//     }

// }
// @media screen and (min-width:621px) and (max-width:700px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 36%;
//     }

// }
// @media screen and (min-width:701px) and (max-width:800px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 37%;
//     }

// }
// @media screen and (min-width:801px) and (max-width:900px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 40%;
//     }

// }
// @media screen and (min-width:901px) and (max-width:1000px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 40%;
//     }

// }
// @media screen and (min-width:1001px) and (max-width:1024px){
//     .homediv
//     {
//        text-align: center;border-radius: 50%;box-shadow: inset 0 0 12px lightgray;width:150px;    height: 150px;
//        margin-left: 41%;
//     }

// }
// .rating-box {
//     position:relative;
//     vertical-align: middle;
//     font-size: 3/3em;
//     font-family: FontAwesome;
//     display:inline-block;
//     color: lightgray;
  
//     &:before{
//       content: "\f006 \f006 \f006 \f006 \f006";
//     }
  
//     .rating {
//       position: absolute;
//       left:0;
//       top:0;
//       white-space:nowrap;
//       overflow:hidden;
//       color: #F68127;
//       &:before {
//         content: "\f005 \f005 \f005 \f005 \f005";
//       }
//     }
//   }

}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }
