<ion-header class="{{this.helper.lang_direction}}">
  <ion-navbar>

    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon style="color:#016a38" name="more"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{"Home" | translate}}</ion-title>

    <ion-buttons right>
      <button ion-button icon-only menuToggle><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
    </ion-buttons>


  </ion-navbar>

</ion-header>

<ion-content style="text-align: center;">

  <!-- <ion-grid style="height: 100%"> -->
    <!-- <ion-row justify-content-center align-items-center style="height: 100%"> -->
      <!-- <ion-col> -->

       <!-- 20 -->
       <!-- style="margin-top:8px;" -->
        <ion-grid > 
          <ion-row>
            <ion-col col-12 style="padding-top: 0px;">
                <img src="assets/imgs/dlogo.png" class="customIconForLogo">
            </ion-col>
          </ion-row>

          <ion-row style="width:100%;margin-right:0px;margin-left:0px; padding-right: 7px;
          padding-left: 5px;margin-bottom: 3px;">
         
            <ion-col style="background-color: #e8f1ed;height:40px;"  >
              <ion-select  placeholder="اختر المدينة" [(ngModel)]="selectedUserCity"  style="text-align:right;margin-top: -4px;" interface="popover"  class="selector" > 
                <ion-option  value="{{item.value}}" *ngFor="let item of cityZonesArray"  (ionSelect)='cityChecked(item.id)'>{{item.value}}</ion-option>
              </ion-select> 
              <img src="assets/icon/arrow.png" style="margin-top:-34px;width:16px;height:17px;float: left;">  
            </ion-col>
          
            
        </ion-row>


          <ion-row style="width:100%;margin-right:0px;margin-left:0px;">
            <ion-col >
          
          <div class="divStyle x" (click)="orderDoctor()">

            <ion-row style="margin-right: 19px;">
              <ion-col style="text-align: left;">  <ion-label class="labelStyle" style="display: inline-block;margin-top: 9px;">{{"askfordoctor" | translate}}</ion-label> </ion-col>
              <ion-col style="text-align: right;"> <img src="assets/icon/otlob_doc.png" style="width:40px;height:45px;" class="customPosition"> </ion-col>
            </ion-row>
           
            

           
          </div>
          </ion-col>
          </ion-row>


          <ion-row style="width:100%;margin-right:0px;margin-left:0px;">
            <ion-col col-6>
             
              <div class="divStyle x" (click)="orderPharmacy()">
                <img src="assets/icon/pills.png" style="width:40px;height:45px;" class="customPosition">

                <ion-label class="labelStyle">{{"pharmacy" | translate}}</ion-label>

              </div>

            </ion-col>
            <ion-col col-6>
              <!-- (click)="orderPharmacy()" -->
              <div class="divStyle x" (click)="orderLab()">
                <img src="assets/icon/microscope.png" style="width:40px;height:45px;" class="customPosition">

                <ion-label class="labelStyle">{{"lap" | translate}}</ion-label>
              </div>

            </ion-col>
          </ion-row>

          <ion-row style="width:100%;margin-right:0px;margin-left:0px;">
            <ion-col col-6>
              <!-- (click)="orderLab()" -->
              
              <div class="divStyle x" (click)="orderNurse()">
                <img src="assets/icon/otlob_nurse.png" style="width:40px;height:45px;margin-right: 10px;" class="customPosition">

                <ion-label class="labelStyle">اطلب تمريض </ion-label>
              </div>

            </ion-col>
            <ion-col col-6>
              <!-- (click)="orderCenter()" -->
              <div class="divStyle x" (click)="orderCenter()">
                <img src="assets/icon/medical-history.png" style="width:40px;height:45px;" class="customPosition">

                <ion-label class="labelStyle">{{"center" |translate}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
  

  
          <ion-row style="margin-bottom: 5px;margin-top: 10px;" >
            <div style="width: 100%;">

              <button type="button"   class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';width: 50%;margin: auto;" (click)="medicalConsultant()"> استشارة طبية </button>  
            </div>
          </ion-row>
          <ion-row>
            <div style="width: 100%;">

              <button type="button"   class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';width: 50%;margin: auto;" (click)="customerService()"> خدمة عملاء </button>  
            </div>
          </ion-row>
        </ion-grid>
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <button (click)="follow()">follow</button>
  <button (click)="followOrderForPlc()">follow plc </button> -->
</ion-content>