page-service-profile {
    
    .center{
        text-align: center;
    }
    #profileImg{
        border:1px rgb(240, 234, 234) solid;
        border-radius: 50%;
        height:100px;
        width: 100px; 
       
    }

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 0px 1px !important;
          background: none;
          color: rgb(8, 129, 8);
          
          ion-icon {
            font-size: 20px;
          }
        }
      }
    .right{
        text-align: right;
    }
    .customIcon{
        height:20px; 
        width:20px;
        
    }
    .label-md{
        margin: 0px;
    }
    .services{
        margin-left: 42px;
    }
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        width:70%;
    }
    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        border-color: #016a38;
        color: #fff;
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    .btn:disabled {
        background-color: #dddddd !important ;
        border-color: #dddddd  !important;
    }
    .btn-primaryx {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        width:70%;
    }
    .btn-primaryx:focus {
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        border-color: #016a38;
        color: #fff;
    }
      .btn-primaryx:hover {
        color: #fff;
        background-color: rgba(1, 106, 56, 0.2313725);
        border-color: #016a38;
    }
      .btn-primaryx:not(:disabled):not(.disabled):active{
        color: #fff;
        // background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    // .activated{
    //     border-color: #016a38 !important;
    //     color:#fff;
    //     box-shadow: none;
    // }
    
    .item-block{
        min-height:4rem;
    }

    .row{
        margin: 0px;
        padding: 0px;
      }
      .deleteIcon {
        position: absolute !important;
        color: #016a38 !important;
        margin-left: 80% !important;
      }
      .deleteIcon:before {
        font-size: 25px !important;
      }

      .ion-md-star-half:before{
        transform: scale(-1,1);
      }
      
}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }
