
<ion-header class="{{langDirection}}">
 <ion-navbar hideBackButton>
   <ion-title >{{"aboutApp" | translate}}</ion-title>

  <ion-buttons right>
        <button ion-button>
                <img src="assets/imgs/dlogo.png" style="width:30px;" >
               
            </button>
    <button ion-button  (click)="dismiss()">
        <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
    </button>
</ion-buttons>
  
</ion-navbar>

</ion-header>


<ion-content padding>

  <div class="text-center">
    <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="max-width:40%;margin-top: 35px;">
  </div>

  <p style="color:grey;font-size:18px;margin:20px;text-align:right">{{aboutdata}}</p>

</ion-content>
