
<ion-header class="{{langDirection}}">
  <ion-navbar>
      <ion-buttons style="display: inherit;" left>
          <button ion-button menuToggle>
              <ion-icon style="color:#016a38" name="more"></ion-icon>
            </button>
      </ion-buttons>
         
          <ion-title  style="padding:5px;">{{"notification" | translate }}</ion-title>
      
         
          <ion-buttons style="display: inherit;" right>
              <button ion-button icon-only  menuToggle><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
          </ion-buttons>

        
    
  </ion-navbar>
  
</ion-header>
<ion-content padding>
    <!-- <ion-card *ngFor="let item of data">

        <ion-card-content>
          <h2>{{item.text}}</h2>
          <p>{{item.txt}}</p>
            <h2>{{item.title}}</h2>
            <p>{{item.time}}</p>
        </ion-card-content>
      
      </ion-card> -->
    

<!-- 
      <ion-item *ngFor="let item of data">
     
          <h2>{{item.title}}</h2>
          <p>{{item.time}}</p>
        </ion-item>

        <ion-list [virtualScroll]="data">

          <ion-item *virtualItem="let item">
            <h2>{{item.title}}</h2>
            <p>{{item.time}}</p>
          </ion-item>
        
        </ion-list> -->
    
        <ion-refresher  (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-row [hidden]="showLoading" style="text-align: center;">
            <ion-col col-5></ion-col>
            <ion-col col-2> 
              <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
            </ion-col>
            <ion-col col-5></ion-col>
            </ion-row>

            
        <ion-item *ngFor="let item of data" (click)="notificationClickd(item)">
          <!-- start -->
            <ion-avatar item-start style="margin:0px;">
                <img [src]="item.notificationimage">
              </ion-avatar>

          <h6 style="font-size:12px;" text-wrap>{{item.data.text}}</h6> <!-- text-wrap item.data.txt -->
          <p>{{item.notificationDate}}</p>
        </ion-item>

        <ion-infinite-scroll   (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        


</ion-content>
