<ion-header class="{{langDirection}}">
    <ion-navbar hideBackButton>

        <ion-title >{{"changePass"|translate}}</ion-title>

        <ion-buttons right>
            <button ion-button>
                <img src="assets/imgs/dlogo.png" style="width:30px;">

            </button>
            <button ion-button (click)="dismiss()">
                <img src="assets/icon/leftarrow.png" (click)="dismiss()" class="customIcon">

            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="text-center">
        <img id="imageLogo" src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="margin-top: 30px;">
    </div>
    <br>
    <br>

    <form [formGroup]="resetForm" style="background-color: white;width: 100%">
        <!-- 
        <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!resetForm.controls.usermail.valid && submitAttempt">
          <ion-label><img src="assets/icon/mail.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
          <ion-input *ngIf="langDirection == 'rtl'" placeholder="البريد الالكتروني"   style="border-radius: 2px;padding: 0px;" formControlName="usermail" [(ngModel)]="usermailTxt"
          type="text"></ion-input>
          <ion-input *ngIf="langDirection != 'rtl'" placeholder="email"    style="border-radius: 2px;padding: 0px;" formControlName="usermail" [(ngModel)]="usermailTxt"
      type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!resetForm.controls.usermail.valid && submitAttempt" no-lines>
        <p> {{"enterEmail" | translate}} </p>
        </ion-item>
   -->
        <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!resetForm.controls.currentPass.valid && submitAttempt">
            <ion-label><img src="assets/icon/pass.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
            <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="كلمه المرور الحاليه" style="border-radius: 2px;padding: 0px;"
                formControlName="currentPass" [(ngModel)]="currentPass" type="password" [dir]="langDirection" (change)="checkPass()"></ion-input>
            <ion-input *ngIf="langDirection != 'rtl'" placeholder="Current Password" style="border-radius: 2px;padding: 0px;"
                formControlName="currentPass" [(ngModel)]="currentPass" type="password" [dir]="langDirection" (change)="checkPass()"></ion-input>
        </ion-item>
        <ion-item *ngIf="!resetForm.controls.currentPass.valid && submitAttempt" no-lines>
            <p> {{"enterPassword" | translate}} </p>
        </ion-item>

        <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!resetForm.controls.newPass.valid && submitAttempt">
            <ion-label><img src="assets/icon/pass.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
            <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="كلمة المرور الجديده" style="border-radius: 2px;padding: 0px;"
                formControlName="newPass" [(ngModel)]="newPass" type="password" [dir]="langDirection"></ion-input>
            <ion-input *ngIf="langDirection != 'rtl'" placeholder="New Password" style="border-radius: 2px;padding: 0px;"
                formControlName="newPass" [(ngModel)]="newPass" type="password" [dir]="langDirection"></ion-input>
        </ion-item>
        <ion-item *ngIf="!resetForm.controls.newPass.valid && submitAttempt" no-lines>
            <!-- <p> {{"enterPassword" | translate}} </p> -->
            <p>{{passErrMsg}}</p>
        </ion-item>

        <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!resetForm.controls.confirmPassword.valid && submitAttempt">
            <ion-label><img src="assets/icon/pass.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
            <ion-input *ngIf="langDirection == 'rtl'" class="right" placeholder="تأكيد كلمة المرور" style="border-radius: 2px;padding: 0px;"
                formControlName="confirmPassword" [(ngModel)]="confirmTxt" type="password" [dir]="langDirection"></ion-input>
            <ion-input *ngIf="langDirection != 'rtl'" placeholder="Confirm Passwod" style="border-radius: 2px;padding: 0px;"
                formControlName="confirmPassword" [(ngModel)]="confirmTxt" type="password" [dir]="langDirection"></ion-input>
        </ion-item>
        <ion-item *ngIf="!resetForm.controls.confirmPassword.valid && submitAttempt" no-lines>
            <p> {{"passwordNotConfirmed" | translate}} </p>
        </ion-item>


        <ion-item style="text-align:center;" no-lines>

            <button type="button" class="btn btn-main btn-lg btn-block" style="font-family: 'Cairo Black'; background-color: #016a38;color:#ffffff;"
                (click)="changePassword()"> {{"resetPassword" | translate}}</button>
        </ion-item>

    </form>


</ion-content>