<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<!-- [side]="dir" -->




<ion-menu [content]="content" (ionOpen)="menuOpened()"  *ngIf="this.platform.dir() =='rtl'" 
 side="right" [enabled]="userLoged">
  
    <ion-content>
          <div style="width:100%;text-align: center;" >
                  <img [src]="image" class="circle-pic">
                  <!-- <h2 style="color:gray;margin-top: 0rem;font-size: 2.9rem">{{name}}</h2> -->
                  <h5 style="margin: 0px;color:#8a8a8a">{{name}}</h5>
                </div>    
         
      <ion-list  >
            <button ion-item  (click)="openAboutapppage()" [ngClass]="app_about">
                    <ion-row style="direction: rtl;margin-right: 0px;">
                            <img src="assets/icon/about.png"   class="customIcon">
                        <!-- <ion-icon ios="ios-globe" md="ios-globe" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon> -->
                        <h2 style="margin-right:10px ; color:gray; font-size:18px;padding: 2px 0;"> {{"aboutApp" | translate }}</h2>
                      </ion-row>
                  </button>
                  <!-- <button ion-item  >
                        <ion-row style="direction: rtl;margin-right: 0px;">
                            <ion-icon ios="ios-pricetag-outline" md="ios-pricetag-outline" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon>
                            <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{"discount" | translate}}</h2>
                          </ion-row>
                      </button> -->
                      <!-- <button ion-item (click)="setting()" >
                            <ion-row style="direction: rtl;margin-right: 0px;">
                                <ion-icon ios="ios-settings-outline" md="ios-settings-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{ "setting" | translate}}</h2>
                              </ion-row>
                          </button> -->
                          <!-- <button ion-item >
                                <ion-row style="direction: rtl;margin-right: 0px;" >
                                    <ion-icon ios="ios-clipboard-outline" md="ios-clipboard-outline" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon>
                                    <h2 style="margin-right:10px ; color:gray; font-size:18px"> {{"suggestions" | translate}}</h2>
                                  </ion-row>
                              </button> -->
                          <button ion-item  (click)="contact()" [ngClass]="app_contact">
                                <ion-row style="direction: rtl;margin-right: 0px;">
                                    <ion-icon ios="ios-call-outline" md="ios-call-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                    <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{"contact" | translate}}</h2>
                                  </ion-row>
                              </button>
                              <button ion-item (click)="opensuggest()"  [ngClass]="app_conditions">
                                    <ion-row style="direction: rtl;margin-right: 0px;">
                                        <ion-icon ios="ios-warning-outline" md="ios-warning-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                        <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{"conditions" | translate}}</h2>
                                      </ion-row>
                                  </button>
                                  <button ion-item  (click)="share()" [ngClass]="app_share" >
                                        <ion-row style="direction: rtl;margin-right: 0px;">
                                            <ion-icon ios="md-share" md="md-share" style="font-size:26px;color:#016a38"></ion-icon>
                                            <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{"share" |translate}}</h2>
                                          </ion-row>
                                        </button>
                                          <button ion-item  (click)="apprate()"  [ngClass]="app_rate" >
                                                <ion-row style="direction: rtl;margin-right: 0px;">
                                                    <ion-icon ios="ios-star-outline" md="ios-star-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                                    <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{"rate" | translate}}</h2>
                                                  </ion-row>
                                              </button>
                                              <button ion-item  (click)="complaints()" [ngClass]="app_complaint">
                                                    <ion-row style="direction: rtl;margin-right: 0px;">
                                                       
                                                        <!-- <img src="assets/icon/mailgreen.png"   class="customIcon"> -->
                                                        <ion-icon name="ios-alert-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                                        <h2 style="margin-right:10px ; color:gray; font-size:18px">   {{"complaints"| translate}}</h2>
                                                      </ion-row>
                                                  </button>

                                              <button ion-item  (click)="logout()" [ngClass]="app_logout">
                                                    <ion-row style="direction: rtl;margin-right: 0px;">
                                                        <!-- <ion-icon ios="ios-globe" md="ios-globe" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon> -->
                                                        <img src="assets/icon/logout.png"   class="customIcon">
                                                        <h2 style="margin-right:10px ;padding: 2px 0; color:gray; font-size:18px">   {{"logout"| translate}}</h2>
                                                      </ion-row>
                                                  </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  

  <ion-menu [content]="content" *ngIf="this.platform.dir() !='rtl'" 
  side="left" >
  
    
   
   
     <ion-content>
           <div style="width:100%;text-align: center;" >
                   <img [src]="image" class="circle-pic">
                   <!-- <h1 style="color:gray;margin-top: 0rem;font-size: 2.9rem">{{name}}</h1> -->
                   <h5 style="margin: 0px;color:#8a8a8a">{{name}}</h5>
                </div>    
          
       <ion-list>
             <button ion-item  (click)="openAboutapppage()">
                     <ion-row style="direction: ltr;margin-left:10px;">
                            <img src="assets/icon/about.png"   class="customIcon">
                         <!-- <ion-icon ios="ios-globe" md="ios-globe" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon> -->
                         <h2 style="margin-left:10px ; color:gray; font-size:18px"> {{"aboutApp" | translate }} </h2>
                       </ion-row>
                   </button>
                   <!-- <button ion-item  >
                         <ion-row style="direction: rtl;margin-right: 0px;">
                             <ion-icon ios="ios-pricetag-outline" md="ios-pricetag-outline" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon>
                             <h2 style="margin-right:10px ; color:gray; font-size:18px">  {{"discount" | translate}}</h2>
                           </ion-row>
                       </button> -->
                       <!-- <button ion-item (click)="setting()" >
                             <ion-row style="direction: ltr;margin-left:10px;">
                                 <ion-icon ios="ios-settings-outline" md="ios-settings-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                 <h2 style="margin-left:10px ; color:gray; font-size:18px">  {{ "setting" | translate}} </h2>
                               </ion-row>
                           </button> -->
                           <!-- <button ion-item >
                                 <ion-row style="direction: rtl;margin-right: 0px;" >
                                     <ion-icon ios="ios-clipboard-outline" md="ios-clipboard-outline" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon>
                                     <h2 style="margin-right:10px ; color:gray; font-size:18px"> {{"suggestions" | translate}}</h2>
                                   </ion-row>
                               </button> -->
                           <button ion-item  (click)="contact()">
                                 <ion-row style="direction: ltr;margin-left:10px;">
                                     <ion-icon ios="ios-call-outline" md="ios-call-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                     <h2 style="margin-left:10px ; color:gray; font-size:18px">  {{"contact" | translate}} </h2>
                                   </ion-row>
                               </button>
                               <button ion-item (click)="opensuggest()">
                                     <ion-row style="direction: ltr;margin-left:10px;">
                                         <ion-icon ios="ios-warning-outline" md="ios-warning-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                         <h2 style="margin-left:10px ; color:gray; font-size:18px">  {{"conditions" | translate}} </h2>
                                       </ion-row>
                                   </button>
                                   <button ion-item  (click)="share()">
                                         <ion-row style="direction: ltr;margin-left:10px;">
                                             <ion-icon ios="md-share" md="md-share" style="font-size:26px;color:#016a38;"></ion-icon>
                                             <h2 style="margin-left:10px ; color:gray; font-size:18px">  {{"share" |translate}} </h2>
                                           </ion-row>
                                         </button>
                                           <button ion-item  (click)="apprate()">
                                                 <ion-row style="direction: ltr;margin-left:10px;">
                                                     <ion-icon ios="ios-star-outline" md="ios-star-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                                     <h2 style="margin-left:10px ; color:gray; font-size:18px">  {{"rate" | translate}} </h2>
                                                   </ion-row>
                                               </button>
                                               <button ion-item  (click)="complaints()" >
                                                    <ion-row style="direction: rtl;margin-right: 0px;">
                                                       
                                                        <!-- <img src="assets/icon/logout.png"   class="customIcon"> -->
                                                        <ion-icon name="ios-alert-outline" style="font-size:26px;color:#016a38;"></ion-icon>
                                                        <h2 style="margin-right:10px ; color:gray; font-size:18px">   {{"complaints"| translate}}</h2>
                                                      </ion-row>
                                                  </button>

                                               <button ion-item  (click)="logout()">
                                                     <ion-row style="direction: ltr;margin-left:10px;">
                                                         <!-- <ion-icon ios="ios-globe" md="ios-globe" style="font-size:26px;color:rgba(34, 139, 34, 0.71);"></ion-icon> -->
                                                         <img src="assets/icon/logout.png"   class="customIcon">
                                                         <h2 style="margin-left:10px ; color:gray; font-size:18px">   {{"logout"| translate}} </h2>
                                                       </ion-row>
                                                   </button>
       </ion-list>
     </ion-content>
   </ion-menu>
 
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>