// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.searchbar-ios{
    background: none !important;
}
.ion-ios-star-half:before{
    transform: scale(-1,1);
  }
  html[dir="rtl"] body > ion-app {
    text-align: right !important;
}
html[dir="rtl"] body > ion-app > ion-alert > div > div > div > div > input{
    text-align: right !important;
}
.checkbox-ios .checkbox-checked {
    border-color: #016a38 !important;
    background-color: #016a38 !important;
}
.searchbar-ios .searchbar-input{
    padding: 0px !important;
}
.tab-badge{
    background-color: #016a38 !important;
}
.checkbox-inner{
    height: 18px !important;
    width: 9px !important;
    right: 9px !important;
}
.checkbox-icon{
    width: 30px !important;
    height: 30px !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #016a38 !important;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #016a38 !important;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.badge-md{
 background-color: #016a38;   
}
.image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.circle-pic{
    width: 102px;
    height: 108px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   margin-top: 20px;
}


.customIcon{
    height:20px; 
    width:20px;
    
}
button:focus{
    outline: 0px !important;
}


.foo .alert-message {
    // white-space: pre;
    color: red;
    font-size: 40px;
    font-weight: bold;
  }


  .alert-md .alert-radio-icon {
    right: 13px !important;
  }
  
  .alert-ios .alert-radio-icon {
    right: 13px !important;
  }

// ion-app.md [padding] .scroll-content {
//     padding: 5px;
// }


@font-face {
    font-family: "Cairo Black";
    src:url("../assets/cairofont/Cairo-Black.ttf");
}
@font-face {
    font-family: "Cairo-Bold";
    src:url("../assets/cairofont/cairo-bold.ttf");
}
@font-face {
    font-family: "Cairo-Regular";
    src:url("../assets/cairofont/cairo.ttf");
}
@font-face {
    font-family: "Cairo";
    src:url("../assets/cairofont/Cairo-Bold_0.ttf");
}
@font-face {
    font-family: "Cairo-ExtraLight";
    src:url("../assets/cairofont/cairo-extra-light.ttf");
}
@font-face {
    font-family: "Cairo Light";
    src:url("../assets/cairofont/cairo-light.ttf");
}
@font-face {
    font-family: "Cairo SemiBold";
    src:url("../assets/cairofont/Cairo-SemiBold.ttf");
}
ion-app{
    font-family: "Cairo-Regular" !important;

}
// .ion-md-home {
    
//     content: url("../assets/icon/about.png") !important; 
//     width:20px;
//     height:20px;
// }


html[dir="rtl"] body > ion-app > ion-alert .alert-button-group {
    flex-direction: row-reverse !important;
    justify-content: flex-start !important;
    
}
// .popover-md .popover-content{
//      right: auto !important;
// }
.popover-content{
    right: auto !important;
}
// .popover-ios .popover-content{
//     right: auto !important;
// }
html[dir="rtl"] body > ion-app > ion-picker-cmp .picker-toolbar {
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    
}
.alert-md .alert-message {
    max-height: 240px;
    font-size: 15px;
    text-align: right;
}

html[dir="rtl"] body > ion-app > ion-alert .alert-button-group{
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
}


// ion-icon::before {
//     font-size: 30px;
// }

// ion-icon::after {
//     font-size: 30px;
// }


.ion-ios-home-outline:before {
    font-size: 30px;
}
.ion-ios-home-outline:after {
    font-size: 30px;
}
.ion-ios-calendar-outline:before {
    font-size: 30px;
}
.ion-ios-calendar-outline:after {
    font-size: 30px;
}
.ion-ios-person-outline:before {
    font-size: 30px;
}
.ion-ios-person-outline:after {
    font-size: 30px;
}
.ion-ios-notifications-outline:before {
    font-size: 30px;
}
.ion-ios-notifications-outline:after {
    font-size: 30px;
}
.rtl{
    text-align: right !important;
}
.ltr{
    text-align: left !important;
}
.item_selected{
    background-color: #e8f1ed;
    padding-right:20px;
}

.item_unselected{
    background-color: white;
    padding-right:0px;   
}


.toastRight{
    text-align: right;
}
.toastLeft{
    text-align: left;
}
  
// .item-radio-checked.item-md ion-label {
//     color: #488aff;
//     direction: ltr;
// }


    
// .popover-content{
//     right: 32px !important;
// }


// .rtl .item-input-has-focus .label-md[floating], .rtl .input-has-focus .label-md[floating], .rtl .item-input-has-value .label-md[floating], .rtl .input-has-value .label-md[floating], .rtl .item-input-has-value .label-ios[floating]{
//     -webkit-transform: translate3d(20%, 0, 0) scale(0.8) !important; 
//        transform: translate3d(20%, 0, 0) scale(0.8) !important; 
     
//    }
