
<ion-header class="{{langDirection}}">

  
  <ion-navbar hideBackButton>
    
          <ion-title >{{"order Doctor" | translate}}</ion-title>
      
          <ion-buttons  right>
              <!-- <button ion-button (click)="doRefresh('1')">
                  <ion-icon ios="ios-refresh" md="md-refresh" style="margin: 5px 0 5px 0"></ion-icon>
                 
              </button> -->
              <button ion-button>
                  <img src="assets/imgs/dlogo.png" style="width:30px;" >
                 
              </button>
              <button ion-button  (click)="dismiss()">
                  <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                 
              </button>
          </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
  <!-- <ion-item no-lines >
    
    <ion-label  class="custom" fixed style="color:black;" >{{ "Specialization" | translate}}</ion-label>
    <ion-select [(ngModel)]="Specialization" interface="popover" style="background-color: #e8f1ed;width:100%;">
      <ion-option value="{{item}}" *ngFor="let item of SpecializationArray">{{item}}</ion-option>

    </ion-select>
  </ion-item> -->
 
  <ion-grid>
  <ion-row style="width:100%;">
      <!-- fixed class="customItem"   -->
    <ion-col col-4 col-sm-2 col-md-2>
        <ion-item no-lines >{{"Specialization"|translate}}</ion-item>
        
      </ion-col>
      <!-- col-3 col-sm-9  -->
      <ion-col  *ngIf="langDirection != 'rtl'" style="background-color: #e8f1ed;height:50px;" col-8 col-sm-10 col-md-10>
        <ion-select placeholder="اختر تخصص" [disabled]="disableDropDown == true" [(ngModel)]="Specialization" interface="popover"  class="selector" >
          <ion-option  value="{{item.value}}" *ngFor="let item of SpecializationArray" class="option"  (ionSelect)='SpecializationChecked(item.id)'>{{item.value}}</ion-option>
        </ion-select>   
        <div style="text-align:right">
        <img src="assets/icon/arrow.png" style="margin-top:-34px;width:20px;height:20px;float:left;">  
      </div>
      </ion-col>
      <ion-col *ngIf="langDirection == 'rtl'"  style="background-color: #e8f1ed;height:50px;" col-8 col-sm-10 col-md-10 >
        <ion-select  placeholder="اختر تخصص" [disabled]="disableDropDown == true" [(ngModel)]="Specialization"  style="text-align:right;" interface="popover"  class="selector" > 
          <ion-option  value="{{item.value}}" *ngFor="let item of SpecializationArray" class="option" (ionSelect)='SpecializationChecked(item.id)'>{{item.value}}</ion-option>
        </ion-select> 
        <img src="assets/icon/arrow.png" style="margin-top:-34px;width:20px;height:20px;float: left;">  
      </ion-col>
      <!-- fixed class="customItem5" -->
      <!-- <ion-col style="background-color: #e8f1ed;" col-1 (click)="colclicked()" >
          <img src="assets/icon/arrow.png" style="margin-top:15px;width:20px;height:20px;">
    
        </ion-col> -->
  </ion-row>
</ion-grid>
  


  <!-- <ion-item *ngFor="let item of DoctorsArray" no-lines>
    <ion-label>{{item.name}} </ion-label>
    <ion-checkbox  [(ngModel)]="item.checked" (click)="doctorChecked(item ,$event)"  class="x">{{item.name}}</ion-checkbox>
  </ion-item>
 -->
 <!-- style="height: 385px;" -->

 <ion-row [hidden]="showLoading" style="text-align: center;">
    <ion-col col-5></ion-col>
    <ion-col col-2> 
      <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
    </ion-col>
    <ion-col col-5></ion-col>
    </ion-row>



 <ion-scroll scrollY="true" [ngStyle]="{'height': scrollHeight }"   >
 <ion-card *ngFor="let item of DoctorsArray" [ngStyle]="{'opacity': item.offline == true ? '0.5' : '1'}" (click)="showDoctorProfile(item)" >          
    <ion-row style="width: calc(100% - 5px);margin: 2px;" >
        <!-- fixed class="customItem3" -->
      <ion-col  col-2  col-sm-2  style="padding-top:5px;text-align: center;" >
        <div style="position:absolute;top:45px;left:calc(50% - 15px);width:10px;height:10px;border-radius: 50%;" [style.background-color]="item.color">  </div>
        <img [src]="item.profile_pic" style="border-radius: 50%;width:50px;height:50px" >
        <p style="font-size:12px;">{{item.moreTxt}}</p>
      </ion-col>
      
      <ion-col  col-7 col-sm-8>
        <ion-item >
            <!-- overflow-x: hidden; -->
          <h2 style="width:60px;margin-top:0px;font-size:13px;font-weight: bold;">{{item.doctorName}}</h2>
          <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
          <h3 style="font-size:10px">{{item.specialityname}}</h3>
          <h5 style="font-size:12px;font-weight: bold;">{{"cost"|translate}} : {{item.discount}}{{"pound"|translate}}</h5>
          <rating 
                [(ngModel)]="item.rate" 
                readOnly="true" 
                max="5" 
                emptyStarIconName="star-outline"
                halfStarIconName="star-half" 
                starIconName="star" 
                nullable="false" 
                ></rating>
        </ion-item>
      </ion-col>
      <!-- fixed class="customItem4" width:30%; padding-left: 25px;padding-top: 15px;-->
      <ion-col col-3 col-sm-2 style="text-align: center;padding-top: 5px;" >
        <ion-checkbox [(ngModel)]="item.checked" (click)="doctorChecked(item ,$event)" [disabled]="item.offline"></ion-checkbox>     
        <ion-label style="text-align: center;" *ngIf="item.distanceval != 8888888888888888">{{item.distance}}</ion-label>
        <!-- <ion-label style="text-align: center;">{{item.duration}}</ion-label> -->
        <ion-label style="text-align: center;" *ngIf="item.distanceval != 8888888888888888">{{item.timefordelivery2}}</ion-label>
      </ion-col>
    </ion-row>
</ion-card>
</ion-scroll>


<!-- fixed class="customItem6"   -->
<!-- <ion-row style="width:100%;">
  
<ion-col col-4 col-sm-2 col-md-2 >
    <ion-item no-lines>{{"Discount code"| translate}}</ion-item>
  </ion-col>
  
  <ion-col col-8 col-sm-10 col-md-10  *ngIf="langDirection == 'rtl'"  style="text-align:right;padding-top:15px;" >
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="first" >
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="second">
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="third">
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="fourth">
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="last" (change)="validate()" >

  </ion-col>
  <ion-col col-8 col-sm-10 col-md-10  *ngIf="langDirection != 'rtl'" style="text-align:left;padding-top:15px;" >
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="first">
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="second">
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="third" >
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="fourth" >
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="last" (change)="validate()">

</ion-col>

</ion-row> -->

<!-- 
      <ion-row style="width:100%;padding-left:15px;">
          <ion-col>{{"cost"|translate}} : {{cost}} {{"pound"|translate}}</ion-col>
          
        </ion-row> -->

<!-- <ion-item style="text-align:center;" no-lines>

  <button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
</ion-item> -->
<ion-item no-lines>

</ion-item>
<ion-fab left bottom>
  <button ion-fab style="background-color:#026938" [disabled]="orderBTn"   (click)="sendOrder()">
    <!-- <ion-icon name="add"></ion-icon> -->
    اطلب
  </button>
</ion-fab>

<!-- <ion-fab right bottom>
  <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
  </ion-fab-list>
</ion-fab>

 -->



</ion-content>

