page-signup {
    ion-input.right {
        text-align: right;
 
        ::placeholder {
         
          text-align: right;
        }
      }
     
    .form-control
    {
        font-family: "FontAwesome";
        border-top: 0px;
        border-left: 0px;
        border-bottom: 1px solid #b2b3b354;
        border-right: 1px solid #b2b3b354;
        box-shadow: 1px 1px 1px 2px rgba(169, 167, 167, 0.17);
 

}


.form-control:focus
{
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #b2b3b354;
    border-right: 1px solid #b2b3b354;
    box-shadow: 1px 1px 1px 2px rgba(1, 106, 56, 0.17);
}
.form-check-input {
    
     margin-left: 1rem;
     position: inherit;
}
.form-control::-webkit-input-placeholder {
     color: rgba(1, 106, 56, 0.27);
    size: 7px;
    font-family: "FontAwesome";
}
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        direction: ltr;
        text-align: right;
        font-weight: 500;
        color: #424242;
    }
    p {
        font-size: 0.8em;
        color: red !important;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
    // img {
    //     max-width: 40%;
    //     border: 0;
    // }
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
    
  select:required:invalid
  {
      color:rgba(1, 106, 56, 0.27);;
  }
  option[value=""][disabled]
  {
      display: none;
  }
  option{
      color:black;
  }
    
  .text-center{
    text-align: center;
}



      .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }


    .row{
        margin: 0px;
        padding: 0px;
    }
    .label-md{
        margin: 0px;
    }
    .item.item-md .checkbox-md{
        margin: 0px;
    }

    .col{
        padding: 0px;
    }


  

    
}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }