<ion-header class="{{langDirection}}">
  <ion-navbar hideBackButton>
        
              <ion-title >{{"createAccount" | translate}}</ion-title>
          
              <ion-buttons  right>
                    <!-- <button ion-button>
                        <img src="assets/imgs/dlogo.png" style="width:35px;" >
                       
                    </button> -->
                    <button ion-button  (click)="dismiss()">
                            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                           
                        </button>
                </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding >
    <div class="text-center">
        <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="max-width:40%;margin-top: 35px;">
</div>
<br>
<br>
<!-- <img src="assets/imgs/dlogo.png" style="text-align: center "> -->     
<form [formGroup]="patientRegisterForm" [hidden]="first">
    <!-- style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" -->
    <ion-item  [class.invalid]="!patientRegisterForm.controls.firstname.valid && submitAttempt">
        <ion-label><span style="color:red;font-size: 20px;">*</span><img src="assets/icon/user.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
        <ion-input *ngIf="langDirection != 'rtl'" placeholder="First Name"   style="border-radius: 2px;padding: 0px;" formControlName="firstname" [(ngModel)]="firstname"
        type="text" [dir]="langDirection"></ion-input>
        <ion-input class="right" *ngIf="langDirection == 'rtl'" placeholder="الاسم "    style="border-radius: 2px;padding: 0px;" formControlName="firstname" [(ngModel)]="firstname"
        type="text" [dir]="langDirection"></ion-input>
    </ion-item>
    <ion-item *ngIf="!patientRegisterForm.controls.firstname.valid && submitAttempt" no-lines>
        <p class="errors"> {{"enterFirstName" | translate}} </p>
    </ion-item>

 <!-- <ion-item [class.invalid]="!patientRegisterForm.controls.secondname.valid && submitAttempt">
    <ion-label><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/user.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
    <ion-input *ngIf="langDirection != 'rtl'" placeholder="Second Name"   style="border-radius: 2px;padding: 0px;" formControlName="secondname" [(ngModel)]="secondname"
    type="text" [dir]="langDirection"></ion-input>
    <ion-input class="right" *ngIf="langDirection == 'rtl'" placeholder="الاسم الثاني"    style="border-radius: 2px;padding: 0px;" formControlName="secondname" [(ngModel)]="secondname"
type="text" [dir]="langDirection"  ></ion-input>
</ion-item>
<ion-item *ngIf="!patientRegisterForm.controls.secondname.valid && submitAttempt" no-lines>
<p class="errors"> {{"enterSecondName" | translate}} </p>
</ion-item> -->

<!-- <ion-item [class.invalid]="!patientRegisterForm.controls.surname.valid && submitAttempt">
<ion-label><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/user.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
<ion-input class="right" *ngIf="langDirection == 'rtl'" placeholder="الجد أو اللقب"   style="border-radius: 2px;padding: 0px;" formControlName="surname" [(ngModel)]="surname"
type="text" [dir]="langDirection"></ion-input>
<ion-input *ngIf="langDirection != 'rtl'" placeholder="Grandpa or Surname"    style="border-radius: 2px;padding: 0px;" formControlName="surname" [(ngModel)]="surname"
type="text" [dir]="langDirection"></ion-input>
</ion-item>
<ion-item *ngIf="!patientRegisterForm.controls.surname.valid && submitAttempt" no-lines>
<p> {{"enterSurnameName" | translate}} </p>
</ion-item> -->

<ion-item [class.invalid]="!patientRegisterForm.controls.phone.valid && submitAttempt">
<ion-label><span style="color:red;font-size: 20px;">*</span><img src="assets/icon/mob.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
<ion-input  class="right" *ngIf="langDirection == 'rtl'"  (input)="changeTxt()" placeholder="رقم الهاتف"   style="border-radius: 2px;padding: 0px;" formControlName="phone" [(ngModel)]="phone"
type="tel" [dir]="langDirection"></ion-input>
<ion-input *ngIf="langDirection != 'rtl'" placeholder="phone"    (input)="changeTxt()" style="border-radius: 2px;padding: 0px;" formControlName="phone" [(ngModel)]="phone"
type="tel" [dir]="langDirection"></ion-input>
</ion-item>
<ion-item *ngIf="!patientRegisterForm.controls.phone.valid && submitAttempt" no-lines >
<!-- <p> {{"enterPhone" | translate}} </p> -->
<p>{{phoneErrMsg}}</p>
</ion-item>
<!-- [class.invalid]="!patientRegisterForm.controls.email.valid && submitAttempt" -->

<!-- <ion-item [class.invalid]="!patientRegisterForm.controls.email.valid && submitAttempt">
    <ion-label><img src="assets/icon/mail.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
    <ion-input  class="right" *ngIf="langDirection == 'rtl'" placeholder="البريد الالكتروني"   style="border-radius: 2px;padding: 0px;" formControlName="email" [(ngModel)]="email"
    type="email" [dir]="langDirection"></ion-input>
    <ion-input *ngIf="langDirection != 'rtl'" placeholder="Email"    style="border-radius: 2px;padding: 0px;" formControlName="email" [(ngModel)]="email"
    type="email" [dir]="langDirection"></ion-input>
</ion-item> -->

<!-- <p> {{"enterEmail" | translate}} </p> -->
 <!-- <p> {{"invalidEmail" | translate}} </p> -->
 <!-- <p> {{"invalidEmailAddress" | translate}} </p> -->
<!-- 
<ion-item *ngIf="!patientRegisterForm.controls.email.valid && submitAttempt" no-lines> 
 <p>{{emailErr}}</p>
</ion-item> -->


<ion-row [class.invalid]="!patientRegisterForm.controls.password.valid && submitAttempt" >
    <ion-col col-11 style="text-align:right">
            <ion-item >
            
                    <ion-label><span style="color:red;font-size: 20px;">*</span><img src="assets/icon/pass.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
                        
                        <ion-input  class="right" *ngIf="langDirection == 'rtl'" placeholder="كلمة المرور"   style="border-radius: 2px;padding: 0px;" formControlName="password" [(ngModel)]="passwrodTxt"
                        type="password" [dir]="langDirection"></ion-input>
                        
                        
                        <ion-input *ngIf="langDirection != 'rtl'" placeholder="Password"    style="border-radius: 2px;padding: 0px;" formControlName="password" [(ngModel)]="passwrodTxt"
                        type="password" [dir]="langDirection"></ion-input>
                 
                
                    
            
            
                           
                    </ion-item>
                
    </ion-col>
    <ion-col col-1 style="text-align:right">
            <ion-icon  name="information-circle" style="color:#016a38; font-size:20px;margin-top:15px;" (click)="presentHintAlert()"></ion-icon>       
    </ion-col>
</ion-row>
    
        <ion-item *ngIf="!patientRegisterForm.controls.password.valid && submitAttempt" no-lines>
            <!-- <p> {{"enterPassword" | translate}} </p> -->
            <p>{{passErrMsg}}</p>
        </ion-item> 
            
    
    

<!-- 
<ion-item [class.invalid]="!patientRegisterForm.controls.password.valid && submitAttempt">
<ion-label><img src="assets/icon/pass.png" style="margin: 0 2px;" height="25" width="25"></ion-label>

<ion-input  class="right" *ngIf="langDirection == 'rtl'" placeholder="كلمة المرور"   style="border-radius: 2px;padding: 0px;" formControlName="password" [(ngModel)]="passwrodTxt"
type="password" [dir]="langDirection"></ion-input>


<ion-input *ngIf="langDirection != 'rtl'" placeholder="Password"    style="border-radius: 2px;padding: 0px;" formControlName="password" [(ngModel)]="passwrodTxt"
type="password" [dir]="langDirection"></ion-input>
</ion-item>
<ion-item *ngIf="!patientRegisterForm.controls.password.valid && submitAttempt" no-lines>

<p>{{passErrMsg}}</p>
</ion-item>  -->
<!-- <p> {{"enterPassword" | translate}} </p> -->
<ion-item [class.invalid]="!patientRegisterForm.controls.confirmpassword.valid && submitAttempt">
<ion-label><span style="color:red;font-size: 20px;">*</span><img src="assets/icon/pass.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
<ion-input class="right" *ngIf="langDirection == 'rtl'" placeholder="تأكيد كلمة المرور"   style="border-radius: 2px;padding: 0px;" formControlName="confirmpassword" [(ngModel)]="confirmpassword"
type="password" [dir]="langDirection"></ion-input>
<ion-input *ngIf="langDirection != 'rtl'" placeholder="Confirm Passwod"    style="border-radius: 2px;padding: 0px;" formControlName="confirmpassword" [(ngModel)]="confirmpassword"
type="password" [dir]="langDirection"></ion-input>
</ion-item>
<ion-item *ngIf="!patientRegisterForm.controls.confirmpassword.valid && submitAttempt" no-lines>
<p> {{"passwordNotConfirmed" | translate}} </p>
</ion-item>

    <ion-item [class.invalid]="!patientRegisterForm.controls.country.valid && submitAttempt">
    <ion-label floating *ngIf="langDirection == 'rtl'" style="transform-origin: right top;" ><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"Governorate" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span></ion-label>
    <ion-label floating *ngIf="langDirection != 'rtl'"  ><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"Governorate" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
    <ion-select [dir]="langDirection"  formControlName="country" interface="popover"
    [(ngModel)]="country" >
    <ion-option  value="{{item.name}}" *ngFor="let item of countries" (ionSelect)='countryChecked()' >{{item.name}}</ion-option>
    <!-- <ion-option value="alex">{{"Alex" | translate}}</ion-option>  -->
    </ion-select>
    </ion-item>
    <ion-item *ngIf="!patientRegisterForm.controls.country.valid && submitAttempt" no-lines>
    <p> {{"selectCountry" | translate}} </p>
    </ion-item>



    <ion-item   [class.invalid]="!patientRegisterForm.controls.city.valid && submitAttempt" >
    <ion-label floating *ngIf="langDirection == 'rtl'" style="transform-origin: right top;"><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"City" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
    <ion-label floating *ngIf="langDirection != 'rtl'" ><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25">{{"City" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
    <ion-select formControlName="city" interface="popover"
    [(ngModel)]="city">
    <ion-option  value="{{item}}" *ngFor="let item of cities">{{item}}</ion-option>
    <!-- <ion-option value="city2">{{"any city" | translate}}</ion-option>  -->
    </ion-select>
    </ion-item>
    <ion-item *ngIf="!patientRegisterForm.controls.city.valid && submitAttempt" no-lines>
    <p> {{"selectCity" | translate}} </p>
    </ion-item>
    
        <br>
        <ion-item [class.invalid]="!patientRegisterForm.controls.address.valid && submitAttempt">
            <ion-label><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/city.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
            <ion-input class="right" *ngIf="langDirection == 'rtl'" placeholder="العنوان (اختياري)"   style="border-radius: 2px;padding: 0px;" formControlName="address" [(ngModel)]="address"
            type="text" [dir]="langDirection"></ion-input>
            <ion-input *ngIf="langDirection != 'rtl'" placeholder="address"    style="border-radius: 2px;padding: 0px;" formControlName="address" [(ngModel)]="address"
            type="text" [dir]="langDirection"></ion-input>
            </ion-item>
            <ion-item *ngIf="!patientRegisterForm.controls.address.valid && submitAttempt" no-lines>
            <p> {{"enterAddress" | translate}} </p>
            </ion-item>

            <!-- <ion-item [class.invalid]="!patientRegisterForm.controls.birthdate.valid && submitAttempt" >
                <ion-label floating style="transform-origin: right top;"><span style="color:white;font-size: 20px;">*</span><img src="assets/icon/calender.png" style="margin: 0 2px;" height="25" width="25">{{"Dateofbirth" | translate}}</ion-label>
                
                <ion-datetime  [max]="maxDate" formControlName="birthdate" displayFormat="DD/MM/YYYY"
                        [(ngModel)]="birthdate" cancelText="{{cancelTxt}}" doneText="{{doneTxt}}"></ion-datetime>
                </ion-item>
                <ion-item *ngIf="!patientRegisterForm.controls.birthdate.valid && submitAttempt" no-lines>
                <p> {{"enterDOB" | translate}} </p>
                </ion-item> -->
<ion-item [class.invalid]="!patientRegisterForm.controls.gender.valid && submitAttempt">
<ion-label floating style="transform-origin: right top;"><span style="color:red;font-size: 20px;">*</span><img src="assets/icon/gender.png" style="margin: 0 2px;" height="25" width="25">{{"Gender" | translate}}</ion-label>
<ion-select  formControlName="gender" interface="popover"
[(ngModel)]="gender">
<ion-option value="1">{{"male" | translate}}</ion-option>
<ion-option value="0">{{"female" | translate}}</ion-option> 
</ion-select>
</ion-item>
<ion-item *ngIf="!patientRegisterForm.controls.gender.valid && submitAttempt" no-lines>
<p> {{"selectGender" | translate}} </p>
</ion-item>

<br>
 <!-- <div class="form-group">
    <button type="button" (click)="presentActionSheet()" class="btn btn-primary btn-lg btn-block" style="color:rgba(27, 26, 26, 0.270588);background-color: rgba(1, 106, 56, 0.2313725) ; border-color: rgba(1, 106, 56, 0.2313725)" >  <img src="assets/icon/cam.png" height="25" width="25">   {{"userimg" | translate}}</button>  
  </div> -->

  <ion-item >
    <ion-label style="color:grey">{{"Avatar" | translate}} <span style="color:grey;font-size: 16px;"> (اختياري) </span> </ion-label>
    <ion-avatar item-end>
      <!-- <img src="{{imgPreview}}" (click)="getPhoto()"> -->
      <img src="{{imgPreview}}" (click)="presentActionSheet()">
    </ion-avatar>
  </ion-item>

<ion-row>
    <ion-col col-11>
  <ion-item no-lines >
      <ion-label style="font-size: 14px; color: gray;" >{{"agreeConditions" | translate}}
      </ion-label>
      <ion-checkbox   [ngModelOptions]="{standalone: true}"
        [(ngModel)]="termsStatus" >
        </ion-checkbox>
        
    </ion-item>
</ion-col>
<ion-col col-1 style="text-align:right">
        <ion-icon  [dir]="langDirection" name="information-circle" style="color:#016a38; font-size:20px;margin-top:15px;" (click)="agreeConditions()"></ion-icon>
</ion-col>
</ion-row>
    

  <ion-item id="btnSignIn" style="text-align:center;" no-lines>

     <button type="button"   class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black'" (click)="registerUser()"> {{"register" | translate}}</button>  
   </ion-item>


</form>
</ion-content>
