page-orderhistory {
  .row{
    margin: 0px;
    padding: 0px;
}
  .item-md h4,.item-md h3, .item-md h2{
    line-height: 1;
  }

    ul {
        padding: 0px;
        // margin-top: 5px;
        margin-bottom: 0px;
        &.rating li {
          padding: 0px 1px !important;
          background: none;
          color: rgb(8, 129, 8);
          
          ion-icon {
            font-size: 20px;
          }
        }
      }

      .col{
        padding:1px;
      }
      .customItem3{
        -webkit-flex: 0 0 60px;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px !important;
        width: 60px !important;
        min-width: 60px !important;
        max-width: 60px !important;

      }
      img,h3{
   
        *width:50px;
        display: inline;
      }

      .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        
    }
    
    .ion-md-star-half:before{
      transform: scale(-1,1);
    }

      .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }

    .btn-primary:disabled{
      color: #fff;
        background-color: lightgray !important;
        border-color: lightgray !important
    }

    .ion-refreshing{
        animation: spin 1s infinite linear;
    }
  

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
        }
    }

    @-moz-keyframes spin{
        0% {
            -moz-transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(359deg);
        }
    }

    // .item-block {
    //   line-height: unset;
    // }
    // .label-md {
    //   font-size: 12px;
    //   margin: 0px;
    // }
}
.toastRight{
  text-align: right;
}
.toastLeft{
  text-align: left;
}
