
<ion-header class="{{langDirection}}"> 
  <ion-navbar>
    
      <ion-buttons style="display: inherit;" left>
          <button ion-button menuToggle>
              <ion-icon style="color:#016a38" name="more"></ion-icon>
            </button>
      </ion-buttons>
          <ion-title>{{"Orders History" | translate}}</ion-title>
      
          <ion-buttons style="display: inherit;" right>
              <button ion-button icon-only  menuToggle><img src="assets/imgs/dlogo.png" width="30" style="border: 0px;"></button>
          </ion-buttons>
  </ion-navbar>
  
  
</ion-header>

<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    

<ion-row padding style="margin:0px;width:100%;padding-bottom:7px; border-bottom:2px solid rgb(205, 219, 205);">
  <ion-col col-2 col-sm-2 col-md-2 >
      <!-- fixed class="customItem3" -->
    <ion-label style="margin:0px;text-align:center;margin-top:5px;font-size: 11px;">{{"From" | translate}}</ion-label>
  </ion-col>
  
  <ion-col col-4 col-sm-4 col-md-4 style="background-color: #e8f1ed;height:35px;">
    <ion-datetime displayFormat="DD/MM/YYYY" style="height:35px;background-color: #e8f1ed;text-align:right"
      [(ngModel)]="from" [max]="maxDate" cancelText="{{cancelTxt}}" doneText="{{doneTxt}}" (ionChange)="dateFromChanged($event)"></ion-datetime> 
      <div *ngIf="langDirection != 'rtl'" style="text-align:right">
      <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
    </div>
    <div *ngIf="langDirection == 'rtl'" style="text-align: left;">
      <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
    </div>
    </ion-col>


  <ion-col col-2 col-sm-2 col-md-2>
      <!-- fixe1 class="customItem3"  -->
    <ion-label style="margin:0px;text-align:center;padding-right:2px;margin-top:5px;font-size: 11px;">{{"To" | translate}}</ion-label>
  </ion-col>

  <ion-col col-4 col-sm-4 col-md-4 style="background-color: #e8f1ed;height:35px;">    
    <ion-datetime [max]="maxDate" style="background-color: #e8f1ed;height:35px;text-align:right" displayFormat="DD/MM/YYYY"
        [(ngModel)]="to" cancelText="{{cancelTxt}}" doneText="{{doneTxt}}" (ionChange)="dateToChanged($event)" ></ion-datetime>
        
        <div *ngIf="langDirection != 'rtl'" style="text-align:right">
          <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
        </div>
        <div *ngIf="langDirection == 'rtl'" style="text-align: left;">
          <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
        </div>
        <!-- <img src="assets/icon/arrow.png" style="margin-top:-55px;width:20px;height:20px;"> -->
  </ion-col>


</ion-row>  



      <ion-row [hidden]="showLoading" style="text-align: center;">
          <ion-col col-5></ion-col>
          <ion-col col-2> 
            <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
          </ion-col>
          <ion-col col-5></ion-col>
          </ion-row>
      

          <!-- [style.border-color]="item.color" height:110px; -->
    <ion-card *ngFor="let item of data" style="border-width: 3px;"    (click)="followOrder(item)" >          
      <ion-row style="width: calc(100% - 5px);margin: 2px;height:130px;text-align: right">
          <!-- fixed class="customItem3" -->
        <ion-col  col-2  col-sm-2  style="margin-top:10px;padding-top:5px;" >
          <img [src]="item.profile_pic" style="border-radius: 50%;width:50px;height:50px;margin-bottom:10px;display:block" >
          <h4 style="text-align:right;margin-right:2px">#{{item.orderId}} </h4>
        </ion-col>
        
        <ion-col  col-6 col-sm-8>
          <!-- <ion-item style="padding-left:0px"> -->
              <!-- overflow-x: hidden; -->
            <h2 style="margin-top:0px;">{{item.name}}</h2>
            <img src="assets/icon/doctor.png"  [hidden]="item.diabledesign" style="width:15px;height:15px;" >
            <!-- <img src="assets/icon/location.png"  [hidden]="item.addressSign" style="width:15px;height:15px;" > -->
            <h3 style="font-size:12px;width:100px">{{item.specialization}}</h3>
        
            <rating [hidden]="item.diabledRate"
                  [(ngModel)]="item.rate" 
                  readOnly="true" 
                  max="5" 
                  emptyStarIconName="star-outline"
                  halfStarIconName="star-half" 
                  starIconName="star" 
                  nullable="false" 
                  ></rating>
                  
                 

  <h3 style="padding-top:0px;margin-top:0px;font-size:12px;">{{item.orderDate}}</h3>  
                  
 
         
        </ion-col>
        <!-- redo , sync , repeat , fixed class="customItem4" width:30%; padding-left: 25px;padding-top: 15px;-->
        <ion-col col-4 col-sm-2 style="margin-top:15px;text-align:right" >
         

       
        <div  style="display:block;margin-bottom:5px;">
          <div style="width:12px;height:12px;border-radius: 50%;display:inline-block;padding-top:0px;" 
          [style.background-color]="item.color">  </div>
        <h3 style="padding-top:0px;margin-top:0px;font-size:15px;">{{item.statusTxt}}</h3>
      </div>

        <button *ngIf="item.rated == '0'" [disabled]="item.disableRatebtn"  class="btn btn-primary " style="width:85px;margin-bottom:7px;" (click)="rateagain(item)" >{{"rateOrder" | translate}}</button>
        <button *ngIf="item.reorder == '1'" [disabled]="item.reorderBtn" class="btn btn-primary " style="width:85px;margin-bottom:7px;" (click)="reorder(item)">{{"reorder" | translate}}</button>

        <button *ngIf="item.contorder == '1'"  class="btn btn-primary " style="width:85px;margin-bottom:7px;" (click)="contorder(item)">{{"contorder" | translate}}</button>


      </ion-col>
      </ion-row>
      
  </ion-card>

  
   
  

  <ion-infinite-scroll   (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
<!-- </div> -->
</ion-content>
