<!--
  Generated template for the OrderNotAcceptedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar hideBackButton> -->
    <!-- <ion-title>orderNotAccepted</ion-title> -->
  <!-- </ion-navbar>

</ion-header> -->


<ion-content padding>

    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col>  
  <div style="text-align:center;margin-top:50px;margin-bottom:20px;">
    <ion-icon name="warning" style=" font-size:80px;color:#016a38;"></ion-icon>
  </div>
    <p style="color:grey;font-size:18px;padding:15px;text-align:center;">{{"orderNotAccepted" | translate}}</p>
    <ion-item style="text-align:center;" no-lines>

        <button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="ok()"> {{"agree" | translate}}</button>  
      </ion-item>
    </ion-col>
 </ion-row>
    </ion-grid>
</ion-content>
